form {
  display:inline;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul {
  margin-top: 0px;
}

html {
  height: 100%;
}

body
{
  height: 100%;
}

#nonFooter
{
  position: relative;
  min-height: 100%;
}

* html #nonFooter
{
  height: 100%;
}

#content
{
  padding-bottom: 9em;
}

#footer
{
  /*display: none;*/
  position: relative;
  margin-top: -5.5em;
}


#logo {
  position : absolute;
  top : -25px;
  left : 8px;
}

a:link           {text-decoration: none; color: #0000FF;}
a:visited        {text-decoration: none; color: #0000FF;}
a:active         {text-decoration: none; color: #C00000;}

a:hover          {color: #C00000; text-decoration: underline;}
a:hover.offsite  {color: #C00000; text-decoration: line-through;}

blockquote  {color: Silver;}
body        {background: #F6F7EB; background-color: #F6F7EB; background-image: none; font-family: Arial; font-size:13px; margin-left: 45px;}
strong      {color: #000000;}
pre         {margin-top: 0px; margin-bottom: 0px;}

.file        {font-family: Monospace;}

.title_main  {text-align: center; font-size:26px;}
.mono        {font-family: Monospace;}
.center      {text-align: center;}

.indent1  {margin-left: 20px;}
.indent2  {margin-left: 40px;}
.indent3  {margin-left: 60px;}

.code         {background-color:#eee; font-family: Monospace;}
.actionHeader {font-size: 14px; font-weight: bold;}
.fileHeader   {font-size: 14px; font-weight: bold;}
.idsHeader    {font-size: 14px; font-weight: bold;}
.highlight    {color: #FF4040;}
.question     {font-weight: bold;}
.unknown      {color: #000099;}

table       {font-family: Arial; font-size:13px;}
table       {table-border-color-light: rgb(128, 128, 192); table-border-color-dark: rgb(128, 128, 192);}
table       {width:100%;}
th          {text-align:left; background-color:#ccc;}
td          {border-bottom:1px solid #ccc;}



#xbuttonboxtop, x#buttonboxbottom {
  position : relative;
  width : 100%;
  background : #000;
  margin : 0;
  padding : 3px 0;
  border-width : 0;
  height : auto;
}


#buttonstriptop {
  position : relative;
  margin-left : 125px;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 12px;
  text-align : left;
  color : #000000;
  font-weight : bold;
  text-decoration : none;
}


#buttonstripbottom {
  position : relative;
  margin-left : 125px;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 12px;
  text-align : left;
  color : #000000;
  font-weight : bold;
  text-decoration : none;
}





#buttonstriptop a {
  color : #000000;
  text-decoration : none;
}

#buttonstripbottom a {
  color : #000000;
  text-decoration : none;
}

#buttonstriptop a:hover {
  color : #000000;
  text-decoration : underline;
}

#buttonstripbottom a:hover {
  color : #000000;
  text-decoration : underline;
}




.opnumberdata {
  font-weight : bold;
  font-family: Monospace;
}

.opnamedata {
  font-weight : bold;
  font-family: Monospace;
  text-decoration: underline;
}

.parameterheading {
  font-style:italic;
  font-family: Monospace;
}

.parameterdata {
  font-family: Monospace;
}

.descriptionheading {
  font-style:italic;
  font-family: Monospace;
}

.descriptiondata {
  margin-left: 20px;
  font-family: Monospace;
}
