form {
  display: inline;
  margin: 0px;
  padding: 0px;
  text-align: center; }

ul {
  margin-top: 0px; }

html {
  height: 100%; }

#nonFooter {
  position: relative;
  min-height: 100%;
  padding-top: 1em;
  /* prevents interference from the overlayed logo */
  padding-bottom: 3em; }

* html #nonFooter {
  height: 100%; }

#content {
  padding-bottom: 9em; }

#footer {
  /*display: none;*/
  position: relative;
  margin-top: -5.5em; }

#logo {
  position: absolute;
  top: -17px;
  left: 50px; }

a:link {
  text-decoration: none;
  color: #0000FF; }

a:visited {
  text-decoration: none;
  color: #0000FF; }

a:active {
  text-decoration: none;
  color: #C00000; }

a:hover {
  color: #C00000;
  text-decoration: underline; }

a:hover.offsite {
  color: #C00000;
  text-decoration: line-through; }

blockquote {
  color: Silver; }

body {
  background: #F6F7EB;
  background-color: #F6F7EB;
  background-image: none;
  font-family: Arial;
  font-size: 13px;
  margin-left: 45px; }

strong {
  color: #000000; }

pre {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-x: scroll;
  padding-bottom: 1em; }

.file {
  font-family: Monospace; }

.title_main {
  text-align: center;
  font-size: 26px; }

.mono {
  font-family: Monospace; }

.center {
  text-align: center; }

.indent1 {
  margin-left: 20px; }

.indent2 {
  margin-left: 40px; }

.indent3 {
  margin-left: 60px; }

.code {
  background-color: #eee;
  font-family: Monospace; }

.actionHeader {
  font-size: 14px;
  font-weight: bold; }

.fileHeader {
  font-size: 14px;
  font-weight: bold; }

.idsHeader {
  font-size: 14px;
  font-weight: bold; }

.highlight {
  color: #FF4040; }

.question {
  font-weight: bold; }

.unknown {
  color: #000099; }

table {
  font-family: Arial;
  font-size: 13px; }

table {
  table-border-color-light: #8080c0;
  table-border-color-dark: #8080c0; }

table {
  width: 100%; }

th {
  text-align: left;
  background-color: #ccc; }

td {
  border-bottom: 1px solid #ccc; }

#xbuttonboxtop, x#buttonboxbottom {
  position: relative;
  width: 100%;
  background: #000;
  margin: 0;
  padding: 3px 0;
  border-width: 0;
  height: auto; }

#buttonstriptop {
  position: relative;
  margin-left: 125px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  text-decoration: none; }

#buttonstripbottom {
  position: relative;
  margin-left: 125px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  text-decoration: none; }

#buttonstriptop a {
  color: #000000;
  text-decoration: none; }

#buttonstripbottom a {
  color: #000000;
  text-decoration: none; }

#buttonstriptop a:hover {
  color: #000000;
  text-decoration: underline; }

#buttonstripbottom a:hover {
  color: #000000;
  text-decoration: underline; }

.opcode {
  margin-bottom: 1.5em; }

.opnumberdata {
  font-weight: bold;
  font-family: Monospace; }

.opnamedata {
  font-weight: bold;
  font-family: Monospace;
  text-decoration: underline;
  margin-right: 5em; }

.opvariant {
  margin: 0 0.5em; }

.parameterheading {
  font-style: italic;
  font-family: Monospace; }

.parameterdata {
  font-family: Monospace; }

.descriptionheading {
  font-style: italic;
  font-family: Monospace; }

.descriptiondata {
  margin-left: 20px;
  margin-bottom: 1.5em;
  font-family: Monospace; }

.go-up {
  display: block;
  width: 3em;
  height: 3em;
  position: fixed;
  top: 85%;
  right: 5%;
  z-index: 10;
  background-color: #f1ea96;
  background-image: url("../images/go-up2.svg");
  border: 2px solid #787010;
  border-radius: 25%; }
  .go-up:hover {
    text-decoration: none;
    background-color: #e2d426; }

body::before {
  content: "";
  width: 3.3em;
  height: 3.3em;
  background: #F6F7EB;
  position: absolute;
  top: 85%;
  right: 5%;
  z-index: 11; }

.note {
  margin-top: 1em; }
  .note div {
    padding: 0.5em;
    border: 2px solid transparent;
    border-radius: 2%;
    display: inline-block; }

.info div {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.warning div {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.success div {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.important div {
  color: #444;
  background-color: #fcf8e3;
  border-color: #fbeed5; }

.index-bottom-links {
  text-align: center;
  margin-top: 4em; }
  .index-bottom-links div {
    display: inline-block; }
    .index-bottom-links div:nth-child(1) {
      margin-right: 1em; }
    .index-bottom-links div:nth-child(2) {
      margin-left: 1em; }
  .index-bottom-links svg, .index-bottom-links img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 10px auto 0; }
