---
title: "PST Opcodes"
---
    <div class="title_main">{{ page.title }}</div><br />

  <div class="center">
    <a href="#op20"> 20 </a> || <a href="#op40"> 40 </a> || <a href="#op60"> 60 </a> ||
    <a href="#op80"> 80 </a> || <a href="#op120"> 120 </a> || <a href="#op140"> 140 </a> ||
    <a href="#op160"> 160 </a> || <a href="#op180"> 180 </a> || <a href="#op200"> 200 </a> ||
    <a href="#op212"> 212 </a>
  </div>
  <br />

  
{% assign ops = site.opcodes | where: 'pst', 1 %}
{% for opcode in ops %}
	<div id="op{{ opcode.n }}" class="opcode">
		<span class="opnumberdata">#{{ opcode.n }} ({{ opcode.n | dec_to_hex }})</span>

		<span class="opnamedata">{{ opcode.name }}</span><br />

		<span class="parameterheading">Parameter #1:</span>			<span class="parameterdata">{{ opcode.param1 }}</span><br />
		<span class="parameterheading">Parameter #2:</span>			<span class="parameterdata">{{ opcode.param2 }}</span><br />

		{% if opcode.param3 %}
			<span class="parameterheading">Parameter #3:</span> <span class="parameterdata">{{ opcode.param3 }}</span><br />
		{% endif %}
		{% if opcode.special %}
			<span class="parameterheading">Special:</span> <span class="parameterdata">{{ opcode.special }}</span><br />
		{% endif %}

		<span class="descriptionheading">Description:</span><br />
		<div class="descriptiondata"> {{ opcode.content }} </div><br />
		<hr />
		<br />

	</div>
{% endfor %}
