{%- assign sister_actions = actions | where: 'n', action['n'] | where: 'name', action['name'] -%}
{%- assign sister_actions = sister_actions
  | sort: 'pst', 'last'
  | sort: 'iwd2', 'last'
  | sort: 'iwd1', 'last'
  | sort: 'bgee', 'last'
  | sort: 'bg2', 'last'
  | sort: 'bg1', 'last'
-%}

{% if sister_actions.size == 1 %}
  {% assign single_variant_for_all = 1 %}
  {% assign games = site.data.games | map: 'name' %}
  {% for g in games %}
    {% if sister_actions[0][g] != 1 %}{% assign single_variant_for_all = 0 %}{% endif %}
  {% endfor %}
{% endif %}


{%- if single_variant_for_all != 1 -%}
  <span class="action_sisters">
    {% assign present_games = "" | split: "" %}
    Variants:
    {% for sa in sister_actions %}
      {%- assign sa_games = site.data.games | map: 'name' | where_exp: 'item', 'sa[item] == 1' -%}
      <span class="avariants">
        [{% for g in sa_games %}
          {%- comment -%} for displaying games missing the action {%- endcomment -%}
          {% assign present_games = present_games | push: g %}

          {%- assign sag_actions_page = site.data.games | where: 'name', g | map: 'actions' | first -%}
          {%- assign href = sag_actions_page | append: '#' | append: a["n"] | relative_url -%}

          {%- if sa[game] == 1 -%}
            {%- if g == game -%}
            <span class="avariant_current">{{- g | upcase -}}</span>
            {%- else -%}
              <span class="avariant_same"><a href="{{ href }}" title="{{ g | upcase }} version is identical to this one">{{- g | upcase -}}</a></span>
            {%- endif -%}
          {%- else -%}
            <a href="{{ href }}" title="{{ g | upcase }} version is different from this one">{{- g | upcase -}}</a>
          {%- endif -%}

          {%- unless forloop.last -%}/{%- endunless -%}
        {% endfor %}]
      </span>
    {% endfor %}

    {%- comment -%} missing games {%- endcomment -%}
    {% if present_games.size < site.data.games.size %}
      {% assign missing_games = "" | split: "" %}
      {% assign games = site.data.games | map: 'name' %}
      {% for g in games %}
        {% unless present_games contains g %}
          {% assign missing_games = missing_games | push: g %}
        {% endunless %}
      {% endfor %}
      <span class="avariants">
        [{%- for g in missing_games -%}
          <span class="avariant_missing" title="{{ g | upcase }} does not have this action">{{- g | upcase -}}</span>
          {%- unless forloop.last -%}/{%- endunless -%}
        {%- endfor -%}]
      </span>
    {% endif %}

  </span>
{%- endif -%}
