{% assign sister_actions = actions | where_exp: "item", "item['n'] == action['n'] and item[game] != 1" %}
{% assign sister_actions = sister_actions | where_exp: "item", "item['alias'] == nil" %}

{% if sister_actions.size > 0 %}
  <span class="action_sisters">
    Variants:
    {% for g in site.data.games %}
      {% for sa in sister_actions %}
        {% if sa contains g %}
          {%- if g == 'iwd1' -%}{%- assign g_linkname = 'totl' -%}
          {%- else -%}{%- assign g_linkname = g -%}{%- endif -%}
          <a class="opvariant" href = {{ '/scripting/actions/' | append: g_linkname | append: 'actions.htm#' | append: action["n"] | relative_url }}>
            {{ g | upcase }}
          </a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </span>
{% endif %}
