{% assign sister_actions = actions | where_exp: "item", "item['n'] == action['n'] and item[game] != 1" %}
{% if sister_actions.size > 0 %}
  <span class="action_sisters">
    Variants:
    {% for sa in sister_actions %}
      {% for g in site.data.games %}
        {% if sa contains g %}
          <a class="opvariant" href = {{ '/scripting/actions/' | append: g | append: 'actions.htm#' | append: action["n"] | relative_url }}>
            {{ g | upcase }}
          </a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </span>
{% endif %}
