{%- if action.no_result -%}
  <span class="label label-warning" title="This action has not been seen to produce any results">does not work</span>
{%- endif -%}
{%- if action.unreliable -%}
  <span class="label label-warning" title="This action may not be reliable">unreliable</span>
{%- endif -%}
{%- if action.not_tested -%}
  <span class="label label-info" title="This action is not confirmed as working">not tested</span>
{%- endif -%}
{%- if action.unknown -%}
  <span class="label label-info" title="It is unknown whether this action does anything">unknown</span>
{%- endif -%}
