<header class="site-header">

    <hr />
    <div id="buttonboxtop">
      <div id="buttonstriptop">
        <a href="{{ '/' | prepend: site.baseurl }}">Index</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/files/2da/' | prepend: site.baseurl }}">2DA</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/opcodes/' | prepend: site.baseurl }}">Effects</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/file_formats/' | prepend: site.baseurl }}">File Formats</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/scripting/actions/' | prepend: site.baseurl }}">Actions</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/files/ids/' | prepend: site.baseurl }}">Identifiers</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/scripting/triggers/' | prepend: site.baseurl }}">Triggers</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/appendices/' | prepend: site.baseurl }}">Appendices</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/site_info/' | prepend: site.baseurl }}">Site Info</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/site_info/legal.htm' | prepend: site.baseurl }}">Legal</a>
      </div>
    </div>
    <hr />
    <div id="logo">
      <a href="{{ '/main.htm' | prepend: site.baseurl }}">
        <img src="{{ '/images/iesdp_logo.gif' | prepend: site.baseurl }}" alt="IESDP Logo" width="120" height="120" />
      </a>
    </div>

</header>
