<header class="site-header">

{% include relurl.html %}

    <hr />
    <div id="buttonboxtop">
      <div id="buttonstriptop">
        <a href="{{ '/index.htm' | prepend: relurl }}">Index</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/files/2da/index.htm' | prepend: relurl }}">2DA</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/opcodes/index.htm' | prepend: relurl }}">Effects</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/file_formats/index.htm' | prepend: relurl }}">File Formats</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/scripting/actions/index.htm' | prepend: relurl }}">Actions</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/files/ids/index.htm' | prepend: relurl }}">Identifiers</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/scripting/triggers/index.htm' | prepend: relurl }}">Triggers</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/appendices/index.htm' | prepend: relurl }}">Appendices</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/site_info/index.htm' | prepend: relurl }}">Site Info</a> &nbsp;&bull;&nbsp;
        <a href="{{ '/site_info/legal.htm' | prepend: relurl }}">Legal</a> &nbsp;&bull;&nbsp;
        <a href="{{ site.g3_forum }}" target="_blank">Forum</a>
      </div>
    </div>
    <hr />
    <div id="logo">
      <a href="{{ '/main.htm' | prepend: relurl }}">
        <img src="{{ '/images/iesdp_logo.gif' | prepend: relurl }}" alt="IESDP Logo" width="120" height="120" />
      </a>
    </div>

</header>
