<div class="fileHeader">
  <a name="{{ offset_header_name }}">{{ offset_header_display_name }}</a>
</div>
<br />
<div class="indent1">
  {% if offset_header_desc and offset_header_desc != "" %}
    {{ offset_header_desc }}<br /><br />
    {% assign offset_header_desc = "" %}
  {% endif %}
  <table border="1" width="98%" class="offset_table">
    <colgroup>
      <col width="5%" />
      <col width="12%" />
      <col width="*" />
    </colgroup>
    <thead>
      <tr>
        <th>Offset</th>
        <th>Size (datatype)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% include offset_list.md %}
    </tbody>
  </table>
</div>
<br />
