form {
  display:inline;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul {
  margin-top: 0px;
}

html {
  height: 100%;
}

#nonFooter
{
  position: relative;
  min-height: 100%;
  padding-top: 1em; /* prevents interference from the overlayed logo */
  padding-bottom: 3em;
}

* html #nonFooter
{
  height: 100%;
}

#content
{
  padding-bottom: 5em;
}

#footer
{
  display: flex;
  justify-content: center;
  align-items: center;
}

// slightly space the two "columns" out
#footer > div:nth-child(1) {
  margin-right: 5em;
}

#logo {
  position : absolute;
  top : -17px;
  left : 50px;
}

a:link           {text-decoration: none; color: #0000FF;}
a:visited        {text-decoration: none; color: #0000FF;}
a:active         {text-decoration: none; color: #C00000;}

a:hover          {color: #C00000; text-decoration: underline;}
a:hover.offsite  {color: #C00000; text-decoration: line-through;}

blockquote  {color: Silver;}
body        {background: #F6F7EB; background-color: $background-color; background-image: none; font-family: Arial; font-size:13px; margin-left: 45px;}
strong      {color: #000000;}
pre         {margin-top: 0px; margin-bottom: 0px; overflow-x: scroll; padding-bottom: 1em;}

.file        {font-family: Monospace;}

.title_main  {text-align: center; font-size:26px;}
.mono        {font-family: Monospace;}
.center      {text-align: center;}

.indent1  {margin-left: 20px;}
.indent2  {margin-left: 40px;}
.indent3  {margin-left: 60px;}

// offsets tables
table.offset_table > tbody > tr > td > p:first-of-type {margin-top: 0;}
table.offset_table > tbody > tr > td > p:last-of-type {margin-bottom: 0;}
table.offset_table > tbody > tr > td > p {margin-top: 5px; margin-bottom: 5px}

.code         {background-color:#eee; font-family: Monospace;}
.highlighter-rouge div {background-color:#eee;}
.highlight pre {padding-top: 0.5em; padding-bottom: 0;}
.highlight pre code {color: black; display: inline-block; padding-left: 1em;}
.actions_title {padding-bottom: 0.6em;}
.actionHeader {font-size: 14px; font-weight: bold;}
.action_name {margin-right: 0.3em;}
.action_sisters {font-weight: normal; color: black; margin-left: 3em;}
.action_body p {margin-top: 0.7em; margin-bottom: 0.7em;}
.action_body {margin-bottom: 1em;}
.anchors {margin-bottom: 1em;}
.avariants {margin: 0 0.5em;}
.avariant_same a {color:dimgray;}
.avariant_missing {color: gray; text-decoration: line-through;}

.fileHeader   {font-size: 14px; font-weight: bold;}
.idsHeader    {font-size: 14px; font-weight: bold;}
.highlight    {color: #FF4040;}
.question     {font-weight: bold;}
.unknown      {color: #000099;}

table       {font-family: Arial; font-size:13px;}
table       {border-collapse: collapse; border-spacing: 0px;}
table       {width:100%;}
th, td      {border: 1px solid #888; padding: 2px 6px 2px 6px;}
th          {text-align:left; background-color:#cbcbcb; white-space:nowrap;}


#xbuttonboxtop, x#buttonboxbottom {
  position : relative;
  width : 100%;
  background : #000;
  margin : 0;
  padding : 3px 0;
  border-width : 0;
  height : auto;
}


#buttonstriptop {
  position : relative;
  margin-left : 125px;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 12px;
  text-align : left;
  color : #000000;
  font-weight : bold;
  text-decoration : none;
}


#buttonstripbottom {
  position : relative;
  margin-left : 125px;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 12px;
  text-align : left;
  color : #000000;
  font-weight : bold;
  text-decoration : none;
}





#buttonstriptop a {
  color : #000000;
  text-decoration : none;
}

#buttonstripbottom a {
  color : #000000;
  text-decoration : none;
}

#buttonstriptop a:hover {
  color : #000000;
  text-decoration : underline;
}

#buttonstripbottom a:hover {
  color : #000000;
  text-decoration : underline;
}



.opcode {
  margin-bottom: 1.5em;
}
.opnumberdata {
  font-weight : bold;
  font-family: Monospace;
}

.opnamedata {
  font-weight : bold;
  font-family: Monospace;
  text-decoration: underline;
  margin-right: 5em;
}

.opvariant {
  margin: 0 0.5em;
}

.parameterheading {
  font-style:italic;
  font-family: Monospace;
}

.parameterdata {
  font-family: Monospace;
}

.descriptionheading {
  font-style:italic;
  font-family: Monospace;
}

.descriptiondata {
  margin-left: 20px;
  margin-bottom: 1.5em;
  line-height: 1.3em;
}

.icon svg {
  width: 30px;
  height: 30px;
}

.gh-icon-container {
  min-width: 35px;
}

#footer > div:nth-child(1) {
  display: flex;
  align-items: center;
}
