.label {
  font-size: 0.8125em;
  color: #ffffff;
  background-color: #0088cc;
  font-weight: bold;
  padding: 0.25em 0.5em;
  border-radius: 0.1em;
}
.label-success {
  background-color: #377f31;
}
.label-danger {
  background-color: #880e14;
}
.label-warning {
  background-color: #dba909;
}
