// main note class, to be used with subclasses like info and warning
// produces a colored block similar to what bootstrap does
.note
  margin-top: 1em

  div
    padding: 0.5em
    border: 2px solid transparent
    border-radius: 2%
    display: inline-block

.info
  div
    color: #3a87ad
    background-color: #d9edf7
    border-color: #bce8f1

.warning
  div
    color: #b94a48
    background-color: #f2dede
    border-color: #eed3d7

.bug
  div
    color: #00994C
    background-color: #CCFFE5
    border-color: #00CC00

.success
  div
    color: #468847
    background-color: #dff0d8
    border-color: #d6e9c6

.important
  div
    color: #444
    background-color: #fcf8e3
    border-color: #fbeed5
