vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Nov 2001 18:55:18 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|25 Nov 2001 18:55:18 -0000
vti_filesize:IR|357
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|scripting/idsmissile.htm scripting/scrtokens.htm scripting/idsaction.htm scripting/idsboolean.htm scripting/idsdamages.htm scripting/idshappy.htm scripting/idsnpc.htm scripting/idsareatype.htm scripting/idslists.htm scripting/idsdifflev.htm scripting/idsgtimes.htm scripting/idsea.htm scripting/scrindex.htm scripting/actions1bg2.htm scripting/idsgender.htm scripting/idsscroll.htm scripting/scrcontents.htm scripting/ietimers.htm scripting/idsobject.htm scripting/idsseq.htm scripting/idsareaflag.htm scripting/scrmain.htm scripting/triggersbg2.htm scripting/variabletypes.htm scripting/pstaddactions.htm scripting/idsalignmen.htm scripting/idsclass.htm scripting/idsgeneral.htm scripting/idsscrlev.htm scripting/actions2bg2.htm scripting/idsastyles.htm scripting/idsrace.htm scripting/idssoundoff.htm
