---
n: 4
name: "Cure: Berserking"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 1
bg2: 1
bgee: 1
iwd1: 1
iwd2: 1
pst: 1
---
Removes <a href="#op3">opcode #3</a> effects and <a href="../files/ids/bgee/state.htm#BIT1">STATE_BERSERK</a> from the targeted creature(s). Does not remove <a href="#op245">opcode #245</a>, <a href="#op246">opcode #246</a> and <a href="#op247">opcode #247</a> effects.
<br/>This effect ignores durations attributed to it.

{% capture note %}
Both parameters should be <code>0</code> (zero).
{% endcapture %}

{% include important.html %}

{% capture note %}
At least in BG2 and EEs, this effect only affects player characters.
{% endcapture %}

{% include note.html %}

{% capture note %}
At least in BG2 and EEs, this effect can remove <a href="#op177">opcode #177</a> effects targeting an EFF with <a href="#op3">opcode #3</a>.
{% endcapture %}

{% include note.html %}
