---
n: 2
name: "Cure: Sleep"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 1
bg2: 1 
bgee: 1 
iwd1: 1 
iwd2: 1 
pst: 1
---
Removes <a href="#op39">opcode #39</a> effects and the <a href="../files/ids/bgee/state.htm#BIT0">STATE_SLEEPING</a> flag from the targeted creature(s).
<br/>This effect ignores durations attributed to it.

{% capture note %}
Does not remove the <a href="../files/ids/bgee/state.htm#BIT5">STATE_HELPLESS</a> flag.
{% endcapture %}

{% include note.html %}

{% capture note %}
At least in EEs, it can remove <a href="#op177">opcode #177</a> effects targeting an EFF with <a href="#op39">opcode #39</a>. Does not always work when delayed.
{% endcapture %}

{% include note.html %}
