---
n: 5
name: "Charm: Charm Specific Creature"
param1: "General Type"
param2: "Charm Type"
bg1: 1
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Charms the targeted creature(s) according to value in the <code>Charm Type</code> field, if the target is matched by the value in the <code>General Type</code> field. Values for <code>General Type</code> are from <a href="../files/ids/bgee/general.htm">GENERAL.IDS</a>.
<br/>Known values for <code>Charm Type</code> are:
<ul>
  <li>
    0 &longrightarrow; Neutral Charm
    <ul>
      <li>Does not alter targets allegiance stat.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm">REALLYCHARMED</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#254">CHARMED_PC</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#31">NOTGOOD</a>.</li>
      <li>Maintains Portrait Icon 'Charm' on the target.</li>
      <li>Effect ends if the creature is attacked by <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Target displays "charmed" string.</li>
    </ul>
  </li>
  <li>
    1 &longrightarrow; Hostile Charm
    <ul>
      <li>Sets targets allegiance to <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a> if the caster is <a href="../files/ids/bgee/ea.htm#200">EVILCUTOFF</a>.</li>
      <li>Sets targets allegiance to <a href="../files/ids/bgee/ea.htm#200">EVILCUTOFF</a> if the caster is <a href="../files/ids/bgee/ea.htm#199">NOTEVIL</a>.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm">REALLYCHARMED</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#254">CHARMED_PC</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#31">NOTGOOD</a>.</li>
      <li>Maintains Portrait Icon 'Charm' on the target.</li>
      <li>Effect ends if the creature is attacked by <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Target displays "Charmed" string.</li>
    </ul>
  </li>
  <li>
    2 &longrightarrow; Neutral Dire Charm
    <ul>
      <li>Does not alter targets allegiance stat.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#5">CONTROLLED</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#255">ENEMY</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#31">NOTGOOD</a>.</li>
      <li>Maintains Portrait Icon 'Dire Charm' on the target.</li>
      <li>Effect ends if the creature is attacked by <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Target displays "dire charmed" string.</li>
    </ul>
  </li>
  <li>
    3 &longrightarrow; Hostile Dire Charm
    <ul>
      <li>Sets targets allegiance to <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a> if the caster is <a href="../files/ids/bgee/ea.htm#200">EVILCUTOFF</a>.</li>
      <li>Sets targets allegiance to <a href="../files/ids/bgee/ea.htm#200">EVILCUTOFF</a> if the caster is <a href="../files/ids/bgee/ea.htm#199">NOTEVIL</a>.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#5">CONTROLLED</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#255">ENEMY</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#31">NOTGOOD</a>.</li>
      <li>Maintains Portrait Icon 'Dire Charm' on the target.</li>
      <li>Effect ends if the creature is attacked by <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Target displays "dire charmed" string.</li>
    </ul>
  </li>
  <li>
    4 &longrightarrow; Controlled by Cleric
    <ul>
      <li>Sets targets allegiance to <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a> if the caster is <a href="../files/ids/bgee/ea.htm#200">EVILCUTOFF</a>.</li>
      <li>Sets targets allegiance to <a href="../files/ids/bgee/ea.htm#200">EVILCUTOFF</a> if the caster is <a href="../files/ids/bgee/ea.htm#199">NOTEVIL</a>.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#5">CONTROLLED</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#30">GOODCUTOFF</a>.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#255">ENEMY</a> on the target if the caster is <a href="../files/ids/bgee/ea.htm#31">NOTGOOD</a>.</li>
      <li>Target displays "turned" string.</li>
    </ul>
  </li>
  <li>
    5 &longrightarrow; Thrull Charm
    <ul>
      <li>Does not alter targets allegiance stat.</li>
      <li>Maintains <a href="../files/ids/bgee/ea.htm#255">ENEMY</a> on the target (regardless of casters Allegience).</li>
      <li>Sets <a href="../files/ids/bgee/stats.htm#149">THRULLCHARM</a> to <code>1</code>.</li>
      <li>Maintains Portrait Icon 'Charm' on the target.</li>
      <li>Target displays "Charmed" string.</li>
    </ul>
  </li>
  <li>
    1000 &longrightarrow; Neutral Charm (no Feedback)
    <ul>
      <li>Same as <code>0</code>, but target does not display any string.</li>
    </ul>
  </li>
  <li>
    1001 &longrightarrow; Hostile Charm (no Feedback)
    <ul>
      <li>Same as <code>1</code>, but target does not display any string.</li>
    </ul>
  </li>
  <li>
    1002 &longrightarrow; Neutral Domination. Same as <code>2</code>, except:
    <ul>
      <li>Maintains Portrait Icon 'Domination' on the target.</li>
      <li>Target does not display any string.</li>
    </ul>
  </li>
  <li>
    1003 &longrightarrow; Hostile Domination. Same as <code>3</code>, except:
    <ul>
      <li>Maintains Portrait Icon 'Domination' on the target.</li>
      <li>Target does not display any string.</li>
    </ul>
  </li>
  <li>
    1004 &longrightarrow; Controlled by Cleric (no Feedback)
    <ul>
      <li>Same as <code>4</code>, but target does not display any string.</li>
    </ul>
  </li>
  <li>
    1005 &longrightarrow; Thrull Charm (no Feedback)
    <ul>
      <li>Same as <code>5</code>, but target does not display any string.</li>
    </ul>
  </li>
</ul>

{% capture note %}
If this effect turns a party member hostile, it will disable all of their scripts.
{% endcapture %}

{% include note.html %}

{% capture note %}
In EEs, the <code>Dice Thrown</code> parameter can be used to override the maintained <code>EA</code> Value. It is used in all but the first application of the effect.
{% endcapture %}

{% include note.html %}
