---
n: 1
name: "Stat: Attacks Per Round Modifier"
param1: "Key Modifier"
param2: "Type"
bg1: 0
bg2: 0 
bgee: 1 
iwd1: 0 
iwd2: 0 
pst: 0
---
Alters a characters Attacks per Round, by changing the Key by the modifier value specified by the <code>Key Value</code> field, in the style specified by <code>Type</code> field.
<br/>

<table border="1" width="98%">
	<colgroup>
		<col width="5%" />
		<col width="12%" />
		<col width="*" />
	</colgroup>
	<thead>
		<tr>
			<th>Key</th>
			<th>Attacks per Round</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<td>3</td>
			<td>3</td>
		</tr>
		<tr>
			<td>4</td>
			<td>4</td>
		</tr>
		<tr>
			<td>5</td>
			<td>5</td>
		</tr>
		<tr>
			<td>6</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>7</td>
			<td>1.5</td>
		</tr>
		<tr>
			<td>8</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>9</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>10</td>
			<td>4.5</td>
		</tr>
	</tbody>
</table>

<br><br>Known values for <code>Type</code> are:
<ul>
	<li>0 &longrightarrow; Cumulative Modifier: <code>Key = Key + 'Key Modifier' value</code></li>
	<li>1 &longrightarrow; Flat Value Modifier: <code>Key = 'Key Modifier' value</code></li>
	<li>2 &longrightarrow; Percentage Modifier: <code>Key = (Key * 'Key Modifier' value) / 100</code></li>
	<li>3 &longrightarrow; Final Value Modifier: <code>Key = 'Key Modifier' value</code></li>
</ul>

<br/><br/>This effect modifies <a href="../files/ids/bgee/stats.htm#8">NUMBEROFATTACKS</a>.

{% capture note %}
When this opcode is stacked, the number of attacks are stacked, not the values of the Key Modifier.
{% endcapture %}

{% include info.html %}

{% capture note %}
<code>Key Modifier</code> can take negative values. These values match their positive counterparts (e.g., <code>"-6"</code> corresponds to <code>"-0.5"</code>).
{% endcapture %}

{% include note.html %}

{% capture note %}
<code>Type=3</code> (Set Final):
<ul>
	<li>Only functions when using <code>Timing Mode</code>s <code>2/5/8</code> (even in spells).</li>
	<li><a href="#op16">Haste</a> and <a href="#op40">Slow</a> affect it as normal, though the displayed APR in the Record Screen won't change.</li>
	<li>
		Overrides base, <code>Type=0</code>, <code>Type=1</code>, <code>Type=2</code>, proficiency and warrior class APR bonuses.
		<ul>
			<li><code>Type=1</code> just overrides the base and previous <code>Type=1</code> and <code>Type=2</code> effects.</li>
		</ul>
	</li>
</ul>
{% endcapture %}

{% include info.html %}

{% capture note %}
<code>Timing Mode</code>s <code>1/4/7</code> alters the creature's base APR stat, leaving behind no removable effect.
{% endcapture %}

{% include important.html %}
