---
n: 17
name: "HP: Current HP Modifier"
param1: "Statistic Modifier"
param2: "Type"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Applies the modifier value specified by the <code>Statistic Modifier</code> field in the style specified by the <code>Type</code> field.
<br/>Known values for <code>Type</code> are:
<ul>
	<li>0 &longrightarrow; Cumulative Modifier: <code>HP = HP + 'Statistic Modifier' value</code></li>
	<li>1 &longrightarrow; Flat Value Modifier: <code>HP = 'Statistic Modifier' value</code></li>
	<li>2 &longrightarrow; Percentage Modifier: <code>HP = (HP * 'Statistic Modifier' value) / 100</code></li>
</ul>

<br/><br/><code>Statistic Modifier</code> can be positive or negative.

{% capture note %}
If <code>Statistic Modifier</code> and the Dice values are both non-zero, the total HP change is: <code>'Statistic Modifier' + Dice value</code>.
{% endcapture %}

{% include note.html %}

<br/><br/>The upper word of the <code>Type</code> field can further control the style.
<br/>Known values for the upper word of <code>Type</code> are:
<ul>
	<li>BIT0 – Raise dead</li>
	<li>BIT1 – Remove all effects with a limited Timing Mode (not equipped(2) or permanent(9)), but also any <a href="../file_formats/ie_formats/itm_v1.htm">ITM</a> in the Magical Weapon slot</li>
</ul>

{% capture note %}
Unlike <a href="#op12">opcode #12</a>, this opcode does not apply any death effect (<a href="#op13">opcode #13</a>) to the creature if it reduces their hit points to zero or less. The creature will remain in a bugged state (no HP but not dead) until they take further damage, or the game is saved &amp; reloaded, at which point they will die properly.
{% endcapture %}

{% include note.html %}
