---
n: 18
opname: "HP: Maximum HP Modifier"
param1: "Statistic Modifier"
param2: "Type"
special: "Mode"
bg1: 1
bg2: 1
bgee: 1
iwd1: 1
iwd2: 1
pst: 1
pstee: 1
---
Applies the modifier value specified by the <code>Statistic Modifier</code> field in the style specified by the <code>Type</code> field.
<br/>Known values for <code>Type</code> are:
<ul>
	<li>0 &longrightarrow; Cumulative Modifier: <code>HP = HP + 'Statistic Modifier' value</code> (affects current and max HP)</li>
	<li>1 &longrightarrow; Flat Value Modifier: <code>HP = 'Statistic Modifier' value</code> (affects current and max HP)</li>
	<li>2 &longrightarrow; Percentage Modifier: <code>HP = (HP * 'Statistic Modifier' value) / 100</code> (affects current and max HP)</li>
	<li>3 &longrightarrow; As <code>0</code> (does not affect current HP)</li>
	<li>4 &longrightarrow; As <code>1</code> (does not affect current HP)</li>
	<li>5 &longrightarrow; As <code>2</code> (does not affect current HP)</li>
	<li>6 &longrightarrow; Non-cumulative Modifier: <code>HP = HP + 'Statistic Modifier' value</code> (affects current and max HP) (EE only)</li>
</ul>

<br/><br/><code>Statistic Modifier</code> can be positive or negative.

<br/><br/>Known values for <code>Mode</code> are:
<ul>
	<li>0 &longrightarrow; Normal: Effect functions as dictated by the <code>Type</code> field.</li>
	<li>
		1 &longrightarrow; Do not update current HP.
		<ul>
			<li>This value is set automatically once the effect has been initially processed on a creature.</li>
			<li>For normal operation, the special field MUST be zero.</li>
		</ul>
	</li>
</ul>

{% capture note %}
To differentiate non-cumulative HP gain from other forms of HP gain, <code>Type</code> is set internally to <code>6</code>. As mentioned <a href="#op12_flags">here</a>, multiple effects of <code>Type=6</code> can be carried by the creature at the same time and only the largest value is used when calculating extra HP. Hence the term <i>"noncumulative coexisting"</i>. This functionality doesn't interact with other forms (<code>Type != 6</code>) of HP gain, and cumulative HP drain doesn't use <code>Type=6</code>. 
{% endcapture %}

{% include info.html %}

{% capture note %}
For non-permanent timing modes of <code>Type</code> <code>2</code> or <code>5</code> use the base maximum HP value, and therefore override other <code>Type</code> <code>2</code> or <code>5</code> modifiers.
{% endcapture %}

{% include note.html %}

{% capture note %}
If <code>Statistic Modifier</code> and the Dice values are both non-zero, the total HP change is: <code>'Statistic Modifier' + Dice value</code>.
{% endcapture %}

{% include note.html %}

{% capture note %}
<ul>
	<li>Maximum HP cannot be reduced below a creature's level/HD (average level rounded up for multiclasses).</li>
	<li>It is still able to reduce current HP below the creature's level/HD, and has the same bugged death as <a href="#op17">opcode #17</a> if it reduces a creature to zero or less HP.</li>
</ul>
{% endcapture %}

{% include note.html %}
