---
n: 16
name: "State: Haste"
param1: "Irrelevant"
param2: "Type"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Applies the Haste effect, in the style specified by the 'Type' value.
<br/>Known values for 'Type' are:
<br/>0   Normal Haste
<br/>1   Improved Haste
<br/>2   Weak Haste – Speed haste without attack bonuses
<br/><br/>All of them set STATE_HASTED. Improved/Weak function by setting an additional STAT value, which modifies the behavior of STATE_HASTED:
<ul>
	<li>STAT 155 – IMPROVEDHASTE.</li>
	<li>STAT 185 – ANIMATION_ONLY_HASTE.</li>
</ul>

{% capture note %}
This effect will cancel out the <a href="#op40">slow opcode</a>.
{% endcapture %}

{% include info.html %}

{% capture note %}
This opcode will set the STATE_HASTED flag and nothing else when applied with timing mode 1, and cannot be removed within the game by any means, only suppressed by <a href="#op40">Slow</a>. This only works when applying normal/improved haste (there's no difference, since the STAT for improved haste doesn't get set this way), weak haste does not do anything with timing mode 1.
{% endcapture %}

{% include warning.html %}