---
n: 40
name: "State: Slow"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 1
bg2: 1
bgee: 1
iwd1: 1
iwd2: 1
pst: 0
---
Applies the slow effect to the targeted creature(s).

{% capture note %}
This effect will cancel out the <a href="#op16">haste opcode</a>.
{% endcapture %}

{% include info.html %}

{% capture note %}
This effect doubles the casting time of all spells. Not verified for IWD2.
{% endcapture %}

{% include note.html %}

{% capture note %}
This opcode will set the <a href="../files/ids/bgee/state.htm#BIT16">STATE_SLOWED</a> flag and nothing else when applied with timing mode 1, and cannot be removed within the game by any means, only suppressed by <a href="#op16">Haste</a>.
{% endcapture %}

{% include warning.html %}