---
n: 44
name: "Stat: Strength Modifier"
param1: "Statistic Modifier"
param2: "Type"
bg1: 1
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Applies the modifier value specified by the 'Statistic Modifier' field in the style specified by the 'Type' field.
<br/>Known values for 'Type' are:
<ul>
	<li>0 &longrightarrow; Cumulative Modifier: Strength = Strength + 'Statistic Modifier' value</li>
	<li>1 &longrightarrow; Flat Value Modifier: Strength = 'Statistic Modifier' value</li>
	<li>2 &longrightarrow; Percentage Modifier: Strength = (Strength * 'Statistic Modifier' value) / 100</li>
	<li>3 &longrightarrow; Bull's Strength (EE only)</li>
</ul>

<br/><br/>'Statistic Modifier' can be positive or negative.

{% capture note %}
All games but EEs:
<ul>
	<li>With a Timing Modes of Permanent or Delayed, if 'Type' is 0 and 'Statistic Modifier' is positive, the statistic will alter and remain shown in white text, and a message 'Strength raised permanently' will be shown.</li>
	<li>With a Timing Modes of Permanent or Delayed, if 'Type' is 1 or 2, or 'Statistic Modifier' is negative, the statistic will alter and remain shown in white text, though no message is shown.</li>
	<li>With all other Timing Modes, the statistic will alter and be shown in red text.</li>
</ul>
On EEs:
<ul>
	<li>There's no feedback message about stat being raised permanently in the EE's – it must be done separately with <a href="#op139">opcode #139</a>.</li>
	<li>
		The opcode itself provides no coloring anymore (it's been externalized through "UI.menu")
		<ul>
			<li>An effective value &gt; base value &longrightarrow; <font color="green">green</font>.</li>
			<li>An effective value &lt; base value &longrightarrow; <font color="red">red</font>.</li>
			<li>An effective value &equals; base value &longrightarrow; white/default.</li>
		</ul>
	</li>
</ul>
{% endcapture %}

{% include info.html %}

{% capture note %}
When 'Type'=3:
<ul>
	<li>'Statistic Modifier' is unused: it uses the value listed in <a href="../files/2da/2da_bgee/clssplab.htm">CLSSPLAB.2da</a> for the creature's base class, or defaults to '1' if the file isn't present (it only exists by default in IWDEE).</li>
	<li>
		A single instance of this opcode (using 'Type'=3) cannot raise Strength above 18 (hardcoded), but multiple instances of it can.
		<ul>
			<li>
				This is because it only checks the limit against the creature's base score, not its effective score.
				<ul>
					<li>A Cleric with 12 base STR could gain up to +6 from the effect each time. Two max roll effects would take them to 24 STR.</li>
					<li>A Cleric with 16 base STR could only gain up to +2 from the effect each time.</li>
				</ul>
			</li>
			<li>Warrior classes also gain a &percnt; Strength score, their maximum is actually 18/100. Every '/10' is counted as +1 from their die roll. Warriors will not exceed 18/100 though, as once they hit 18, the remaining dice roll converts to a &percnt; increase, preventing their score from exceeding 18/100 (18/100 + /10 doesn't convert to 19).</li>
		</ul>
	</li>
	<li>Like the other modes, applying the effect with Timing Mode 1 will affect the creature's base stat, leaving no removable effect.</li>
</ul>
{% endcapture %}

{% include info.html %}

{% capture note %}
With Timing Mode 1/4/7, base attribute is altered, leaving behind no removable effect.
{% endcapture %}

{% include important.html %}

{% capture note %}
Final values are capped to the bound range (0 , 25) in game (40 in IWD2).
{% endcapture %}

{% include info.html %}
