---
n: 67
opname: "Summon: Creature Summoning"
param1: "Irrelevant"
param2: "Mode"
bg1: 1
bg2: 1
bgee: 1
iwd1: 1
iwd2: 0
pst: 0
pstee: 1
---
Summons a creature, with position and <a href="../files/ids/bgee/ea.htm">EA</a> based on the <code>Mode</code> field. The <code>Resource</code> key should be set to the filename of the creature to summon.
<br>
<div style="margin-top: 0.5em">Known values for <code>Mode</code> are:</div>
<table style="width: auto">
	<thead>
		<tr>
			<th>Mode</th>
			<th>Position</th>
			<th><a href="../files/ids/bgee/ea.htm">EA</a></th>
		</tr>
	</thead>
	<tr>
		<td>0, 1</td>
		<td>effect</td>
		<td>align with target creature</td>
	</tr>
	<tr>
		<td>3</td>
		<td>target creature</td>
		<td>align with target creature</td>
	</tr>
	<tr>
		<td>4</td>
		<td>target creature</td>
		<td>CRE file</td>
	</tr>
	<tr>
		<td>5</td>
		<td>effect</td>
		<td>align against target creature</td>
	</tr>
	<tr>
		<td>2, else</td>
		<td>effect</td>
		<td>CRE file</td>
	</tr>
</table>

{% capture note %}
<code>Mode</code> details:
<ul>
	<li>Position:</li>
	<ul>
		<li>3, 4 &longrightarrow; summon at target creature's position</li>
		<li>else &longrightarrow; summon at effect position</li>
	</ul>
	<li><a href="../files/ids/bgee/ea.htm">EA</a>:</li>
	<ul>
		<li>0, 1, 3 &longrightarrow; align with target creature:</li>
		<ul>
			<li>target creature <a href="../files/ids/bgee/ea.htm">EA</a> &le; GOODCUTOFF (30) &longrightarrow; summon as ALLY (4)</li>
			<li>target creature <a href="../files/ids/bgee/ea.htm">EA</a> &ge; EVILCUTOFF (200) &longrightarrow; summon as ENEMY (255)</li>
			<li>else &longrightarrow; summon as CRE file</li>
		</ul>
		<li>5 &longrightarrow; align against target:</li>
		<ul>
			<li>target creature <a href="../files/ids/bgee/ea.htm">EA</a> &le; GOODCUTOFF (30) &longrightarrow; summon as ENEMY (255)</li>
			<li>target creature <a href="../files/ids/bgee/ea.htm">EA</a> &ge; EVILCUTOFF (200) &longrightarrow; summon as ALLY (4)</li>
			<li>else &longrightarrow; summon as CRE file</li>
		</ul>
	</ul>
</ul>
{% endcapture %}

{% include info.html %}

{% capture note %}
<code>Mode = 5</code> fails to make creatures summoned as ALLY (4) controllable. This is fixed upon reload.
{% endcapture %}

{% include bug.html %}

{% capture note %}
<ul>
	<li>(EE only) <code><a href="../file_formats/ie_formats/eff_v2.htm#effv2_Body_0x70">Resource 2</a></code> (external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a>s): Animation VVC/BAM file to be played at the summoned creature's location.<br />
		Default is a hardcoded VVC using <code>"SPBOOM.BAM"</code> and palette <code>#65</code>. This is generally used as the "portal" animation.
	</li>
	<li>(EE only) <code><a href="../file_formats/ie_formats/eff_v2.htm#effv2_Body_0x78">Resource 3</a></code> (external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a>s): Animation VVC/BAM file to be played at the location of the ability target.</li>
	<li>Applies an <a href="#op271">opcode #271</a> to the summoned creature based on the duration of the <code><a href="../file_formats/ie_formats/eff_v2.htm#effv2_Body_0x70">Resource 2</a></code> (not exact). Creature will not appear/spawn until this animation finishes.</li>
	<li>Applies a delayed <a href="#op215">opcode #215</a> with <code>resource = "SPGFLSH1"</code> to the summoned creature, <code>delayed duration = 5 ticks less</code> than the <a href="#op271">opcode #271</a>.</li>
	<li>Applies a delayed <a href="#op68">opcode #68</a> to the summoned creature based on effect duration (unless permanent).</li>
	<li>When summoned, any temporary changes (such as from equipped items) to the creature's <a href="../files/ids/bgee/gender.htm">gender</a> are made permanent.</li>
</ul>
{% endcapture %}

{% include info.html %}
