---
n: 78
name: "State: Disease"
param1: "Amount"
param2: "Type"
param4: "Frequency Multiplier"
special: "Icon"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Set the 'Amount' parameter as the amount of damage, and the Disease Type parameter as how the disease functions.
<br/>Known values for 'Type' are:
<ul>
	<li>0 => Inflict 1 HP per second ('Frequency Multiplier' is ignored – 'Amount' needs to be non-zero)</li>
	<li>1 => Inflict 1 HP per second (for best results, leave 'Frequency Multiplier' at zero, 'Amount' between 1 and 101)</li>
	<li>2 => Deal 'Amount' damage every 'Frequency Multiplier' second(s)</li>
	<li>3 => Deal one damage every 'Amount' * 'Frequency Multiplier' second(s)</li>
	<li>4 => Reduce Strength score by 'Amount'</li>
	<li>5 => Reduce Dexterity score by 'Amount'</li>
	<li>6 => Reduce Constitution score by 'Amount'</li>
	<li>7 => Reduce Intelligence score by 'Amount'</li>
	<li>8 => Reduce Wisdom score by 'Amount'</li>
	<li>9 => Reduce Charisma score by 'Amount'</li>
	<li>10 => Slow Effect</li>
	<li>11 => Mold touch/Single</li>
	<li>12 => Mold touch/Decrement</li>
	<li>13 => Contagion</li>
</ul>
<br/><br/>'Amount' can be positive (penalty) or negative (bonus).
<br/><br/>
'Icon' defines the index from <a href="../files/2da/2da_bgee/statdesc.htm">STATDESC.2DA</a> for custom portrait icons. Default value is none (no icon).
<br/>

{% capture note %}
Permanent timing modes require a duration for this effect to work.
{% endcapture %}

{% include important.html %}

{% capture note %}
This opcode deals "Poison" damage, except Mold Touches, which deal "Magic" damage.
{% endcapture %}

{% include info.html %}

{% capture note %}
If 'Frequency Multiplier' = 0, its value is treated as 1. This is the default value for SPL/ITM effects.
{% endcapture %}

{% include info.html %}

{% capture note %}
The Slow effect is no different from that caused by <a href="#op40">opcode #40</a> (Slow), including its stacking interaction with Haste, except that it is blocked/removed as a disease, not as a slow effect.
{% endcapture %}

{% include info.html %}

{% capture note %}
Contagion is a composite of Strength, Dexterity, Charisma drain and the Slow effect, each ability score reduced by 'Amount'.
{% endcapture %}

{% include info.html %}

{% capture note %}
When the 'Type' field is 1:
<ul>
	<li>if the 'Frequency Multiplier' field is non-zero, damage is always dealt.</li>
	<li>if the 'Amount' field is less than 256, damage is dealt while HP > 100 / 'Amount'.</li>
</ul>
{% endcapture %}

{% include note.html %}

{% capture note %}
Mold touch is complicated and not consistent across the EE games.
The general idea is that it deals x or xd6 damage and applies the SPL file specified by the resource key every (round or second) for either 1 round (single) or across multiple rounds dealing less each round (decrement).
In particular:
<ul>
	<li>If 'Type'=11, then the damage dealt is always 1</li>
	<li>if 'Type'=12, then the damage dealt depends on the game:
		<ul>
			<li>IWD:EE uses 'Amount' for 'x', and calculates 'duration' as 6 * 'Amount'.</li>
			<li>BG:EE calculates 'x' from 'duration' / 6. (It's reasonable to assume that BG2:EE uses this one as well).</li>
			<li>If you set 'duration' = 6 * 'Amount', it should junction the same in both games.</li>
		</ul>
	</li>
</ul>
'Frequency Multiplier' determines whether it deals damage every second or every round, and whether it deals x or xd6 damage.
<ul>
	<li>'Frequency Multiplier' = 0 => xd6 per round</li>
	<li>'Frequency Multiplier' = 65536 or greater (must be even) => x per round</li>
	<li>'Frequency Multiplier' = 65537 or greater (must be odd) => x per second</li>
</ul>
Regardless, the value of x decrements only once per round.
{% endcapture %}

{% include note.html %}