---
n: 78
name: "State: Disease"
param1: "Damage"
param2: "Type"
bg1: 0
bg2: 0
bgee: 0
iwd1: 1
iwd2: 1
pst: 0
---
Set the Damage parameter as the amount of damage, and the Disease Type parameter as how the disease functions.
<br/>Known values for 'Type' are:
<br/>0   Hit Points per second
<br/>1   Hit Points per round
<br/>2   Hit Points per Second
<br/>3   Seconds per Hit Points
<br/>4   Strength Penalty
<br/>5   Dexterity Penalty
<br/>6   Constitution Penalty
<br/>7   Intelligence Penalty
<br/>8   Wisdom Penalty
<br/>9   Charisma Penalty
<br/>10  Slow Effect
<br/>11  Mold Touch
<br/>13  Contagion
<br/>14  Cloud of Pestilence (at least in IWD2)
<br/>15  Dolorous Decay (at least in IWD2)
<br/><br/>'Damage' can be positive (penalty) or negative (bonus).

{% capture note %}
Permanent timing modes require a duration for this effect to work.
{% endcapture %}

{% include important.html %}

{% capture note %}
Paladins are immune to this opcode in IWD1.
{% endcapture %}

{% include note.html %}
