---
n: 74
opname: "State: Blindness"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 0
bg2: 1
bgee: 1
iwd1: 1
iwd2: 1
pst: 1
pstee: 1
---
Applies the blindness effect to the targeted creature(s). This sets <a href="../files/ids/bgee/stats.htm#147">VISUALRANGE</a> to 2, sets <a href="../files/ids/bgee/state.htm#BIT18">STATE_BLIND</a> to true and incurs a cummulative <code>10</code> point base THAC0 penalty (<code>4</code> on EE games, plus a cumulative <code>4</code> point base AC penalty. All of that is unverified in PST).
Maintains its own portrait icon <code><a href="../files/2da/2da_bgee/statdesc.htm#8">Blind</a></code>.

{% capture note %}
<ul>
	<li><code>Timing Mode</code>s <code>1/4/7</code> will permanently set the creature's <code><a href="../file_formats/ie_formats/cre_v1.htm#CREV1_0_Header_0x20_BIT18">STATE_BLIND</a></code> flag, leaving no removable effect.</li>
	<li>
		Related: the <code>-4</code> penalty to <code>AC</code> and <code>THAC0</code> are apparently tied to the effect, not <code>STATE_BLIND</code>.
		<ul>
			<li>
				So for instance you will not be able to 100&percnt; cure a creature affected by <code>CLERIC_NATURE_BEAUTY &mdash; "sppr704.spl"</code> (it applies <a href="#op74">opcode #74</a> with <code>timing_mode=1</code>).
				<ul>
					<li>As a workaround, you might want to stick with a limited <code>timing_mode</code> and set <code>duration</code> to a very high random value.</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
{% endcapture %}

{% include important.html %}

{% capture note %}
In the EE's, the <code>-4</code> penalties it applies are not cumulative.
{% endcapture %}

{% include note.html %}
