---
n: 98
name: "HP: Regeneration"
param1: "Amount_1"
param2: "Type"
param3: "Amount_2"
param4: "Frequency Multiplier"
special: "Icon"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Restores HP according to the style specified by the 'Type' field, to the targeted creature(s).
<br/>Known values for 'Type' are:
<ul>
	<li>0 => Restore 1 HP per second ('Amount_2' and 'Frequency Multiplier' are ignored – 'Amount_1' needs to be non-zero)</li>
	<li>1 => Restore 1 HP per second (for best results, leave both 'Amount_2' and 'Frequency Multiplier' at zero, 'Amount_1' between 1 and 101)</li>
	<li>2 => Restore 'Amount_1' HP every 'Frequency Multiplier' second(s)</li>
	<li>3 => Restore 1 HP every 'Amount_1' * 'Frequency Multiplier' second(s)</li>
	<li>4 => Restore 'Amount_2' HP every 'Amount_1' * 'Frequency Multiplier' second(s) – This is the only one that must be in external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> files</li>
</ul>

'Icon' defines the index from <a href="../files/2da/2da_bgee/statdesc.htm">STATDESC.2DA</a> for custom portrait icons. Default value is none (no icon).
<br/>

{% capture note %}
'Type' values greater or equal to 5 will crash the game!
{% endcapture %}

{% include warning.html %}

{% capture note %}
Permanent timing modes require a duration for this effect to work.
{% endcapture %}

{% include important.html %}

{% capture note %}
If 'Frequency Multiplier' = 0, its value is treated as 1. This is the default value for SPL/ITM effects.
{% endcapture %}

{% include info.html %}

{% capture note %}
When the 'Type' field is 1:
<ul>
	<li>if the 'Frequency Multiplier' field is non-zero, HP is always restored.</li>
	<li>if the 'Amount_1' field is less than 256, HP is restored while HP > 100 / Amount_1.</li>
</ul>
{% endcapture %}

{% include note.html %}