---
n: 90
name: "Stat: Open Locks Modifier"
param1: "Statistic Modifier"
param2: "Type"
bg1: 1
bg2: 1
bgee: 1
iwd1: 1
iwd2: 1
pst: 1
---
Applies the modifier value specified by the <code>Statistic Modifier</code> field in the style specified by the <code>Type</code> field.
<br/>Known values for <code>Type</code> are:
<ul>
	<li>0 &longrightarrow; Cumulative Modifier: <code>Skill = Skill + 'Statistic Modifier' value</code></li>
	<li>1 &longrightarrow; Flat Value Modifier: <code>Skill = 'Statistic Modifier' value</code></li>
	<li>2 &longrightarrow; Percentage Modifier: <code>Skill = (Skill * 'Statistic Modifier' value) / 100</code></li>
</ul>

{% capture note %}
<code>Timing Mode</code>s <code>1/4/7</code> permanently alters the creature's Open Locks score, leaving no removable effect.
{% endcapture %}

{% include important.html %}

{% capture note %}
(EE only) When <code>Type = 0</code> and <code>Timing Mode = 9</code>, it modifies <a href="../files/ids/bgee/stats.htm#176">LOCKPICKINGMTPBONUS</a>. The final value for this stat is multiplied by its percentage entry in <a href="../files/2da/2da_bgee/thiefscl.htm">THIEFSCL.2DA</a>, capped to the range [0,255], before being included in the creature's Open Locks score.
{% endcapture %}

{% include note.html %}
