---
n: 105
name: "Stat: Gold"
param1: "Statistic Modifier"
param2: "Type"
bg1: 1
bg2: 0
bgee: 0
iwd1: 1
iwd2: 1
pst: 1
---
Applies the modifier value specified by the 'Statistic Modifier' field in the style specified by the 'Type' field.
<br/>Known values for 'Type' are:
<br/>0   Cumulative Modifier -> Gold = Gold + 'Statistic Modifier' value
<br/>1   Flat Value Modifier -> Gold = 'Statistic Modifier' value
<br/>2   Percentage Modifier -> Gold = (Gold * 'Statistic Modifier' value) / 100

{% capture note %}
This effect can only be used to lower the gold value.
{% endcapture %}

{% include note.html %}

{% capture note %}
PST does not support the percentage modifier type (unknown what it actually does).
{% endcapture %}

{% include note.html %}
