---
n: 119
name: "Spell Effect: Mirror Image"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 1
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 1
---
Applies the <a href="#op159">Mirror Image effect</a> to the targeted creature(s). The number of images is dicated by the level of the caster.<br />
The exact formula is <code>'Parameter1' = 2 + ('Caster Level of the spell containing op119' / 3)</code>.

{% capture note %}
<ul>
	<li>A Wizard spell with op119 will use the caster's Wizard Casting Level.</li>
	<li>A Priest spell with op119 will use the caster's Priest Casting Level.</li>
	<li>An Innate spell with op119 will use the caster's Innate Casting Level.</li>
</ul>
{% endcapture %}

{% include info.html %}

{% capture note %}
A side note about non-spellcaster classes:<br /><br />

A Mirror Image scroll used by a Thief with HLA Use Any Item will use the level <code>10</code> duration, but the level <code>1</code> Image count.<br />
The scroll casts the spell at level <code>10</code>, but the opcode checks the caster's Wizard Caster Level (which for a Thief is <code>1</code>).
{% endcapture %}

{% include note.html %}
