---
n: 111
name: "Item: Create Magical Weapon"
param1: "Amount"
param2: "Irrelevant"
bg1: 1
bg2: 1
bgee: 1
iwd1: 1
iwd2: 1
pst: 0
---
Creates the item specified by the <code>resource</code> key. The number of items created is controlled by the <code>Amount</code> field. The item is created in the <code><a href="../files/ids/bgee/slots.htm#34">Magical Weapon Slot</a></code>.

{% capture note %}
The <code><a href="../files/ids/bgee/slots.htm#34">Magical Weapon Slot</a></code> does not allow <code><a href="../file_formats/ie_formats/itm_v1.htm#itmv1_Extended_Header_0x2_3">Item</a></code> Abilities.
{% endcapture %}

{% include important.html %}

{% capture note %}
The <code>resource</code> field should not be empty, or the game will crash (not consistently, but it happens).
{% endcapture %}

{% include warning.html %}