---
n: 135
name: "Graphics: Polymorph into Specific"
param1: "Irrelevant"
param2: "Type"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Polymorphs the targeted creature(s) into the creature specified by the <code>resource</code> key, in the style specified by the <code>Type</code> field.
<br/>Known values for <code>Type</code> are:
<ul>
	<li>0 &longrightarrow; Gain Resistances/statistics (spell-casting disabled)</li>
	<li>1 &longrightarrow; Appearance only</li>
</ul>
<br/>

This effect sets <a href="../files/ids/bgee/stats.htm#59">POLYMORPHED</a> to <code>1</code> but only if <code>Type=0</code>.<br/>
If the <code>resource</code> key is empty, other polymorph effects are removed, allowing for removal of permanent effects.

{% capture note %}
When <code>Type</code> is <code>0</code>, this opcode sets Strength, Dexterity, Resistances (excluding Poison and Magic Damage), Base AC, Specific AC (Crush/Slash/Pierce/Missile), and Base APR.
{% endcapture %}

{% include note.html %}

{% capture note %}
When the <code>resource</code> key is empty, and it subsequently clears other Polymorph Effects, <code>Type</code> is used just like <code>param#1</code> of <a href="#op337">opcode #337</a>.<br/>
As a result, it will clear all Polymorph effects if <code>Type = "-1"</code>, else it will only clear Polymorph effects that have a <code>param#2</code> that matches.
{% endcapture %}

{% include note.html %}

{% capture note %}
<ul>
	<li><code>Parameter3</code> (external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a>): Circle Size</li>
	<li><code>Parameter4</code> (external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a>): Animation (from <a href="../files/ids/bgee/animate.htm">ANIMATE.IDS</a>)</li>
</ul>
These two values are not functional (changing them does nothing), but they do get set on the effect.
{% endcapture %}

{% include note.html %}

{% capture note %}
The creature you're polymorphing into cannot have <a href="../files/ids/bgee/state.htm#BIT0">STATE_SLEEPING</a>, <a href="../files/ids/bgee/state.htm#BIT6">STATE_FROZEN_DEATH</a>, <a href="../files/ids/bgee/state.htm#BIT7">STATE_STONE_DEATH</a>, <a href="../files/ids/bgee/state.htm#BIT9">STATE_FLAME_DEATH</a>, or <a href="../files/ids/bgee/state.htm#BIT11">STATE_DEAD</a> set in its <a href="../file_formats/ie_formats/cre_v1.htm">CRE</a> file, or the game will crash.
{% endcapture %}

{% include warning.html %}
