---
n: 133
name: "Spell Effect: Luck Non-Cumulative"
param1: "Statistic Modifier"
param2: "Irrelevant"
bg1: 1
bg2: 1
bgee: 1
iwd1: 1
iwd2: 1
pst: 1
---
Applies the luck effect to the targeted creature(s).<br />
This opcode has the same effects as <a href="#op22">opcode #22</a>, but maintains its own separate <a href="../files/ids/bgee/state.htm#BIT26">STATE</a>.<br/>
This opcode modifies <a href="../files/ids/bgee/stats.htm#32">LUCK</a>.

{% capture note %}
<ul>
	<li>While this opcode is "Non-Cumulative" (it sets values rather than increment), what it really does is stack in reverse standard order.</li>
	<li>The base <a href="../files/ids/bgee/state.htm#BIT26">STATE</a> set on the <a href="../file_formats/ie_formats/cre_v1.htm">CRE</a> file will override any effect applied to them (defaulting to a value of zero).</li>
	<li>The oldest equipped effect will override newer equipped effects, and any equipped effect will override a non-equipped effect.</li>
	<li>The oldest non-equipped effect will override newer non-equipped effects.</li>
</ul>
{% endcapture %}

{% include note.html %}

{% capture note %}
<code>Statistic Modifier</code> only reads the first byte for its value, the last 3 bytes are ignored.
{% endcapture %}

{% include note.html %}
