---
n: 141
name: "Graphics: Lighting Effects"
param1: "Target"
param2: "Type"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Actually creates the projectile (not just a BAM file) specified by the 'Type' value at the location specified by 'Target'. These effects are usually used for spell hits based on the spell school.
<br/>Known values for 'Target' are:
<ul>
	<li>0 => Current Location</li>
	<li>Non-zero => Target Location</li>
</ul>

<br/>Known values for 'Type' are:
<ul>
	<li>0 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:118, Animation: "SHAIR.BAM", Palette Notes: (default) (ice)</li>
	<li>1 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:119, Animation: "SHEARTH.BAM", Palette Notes: (default) (ice)</li>
	<li>2 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:120, Animation: "SHWATER.BAM", Palette Notes: (default) (ice)</li>

	<li>4 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:121, Animation: "SHAIR.BAM", Palette Notes: "SHAIR1.BMP" (blue)</li>
	<li>5 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:122, Animation: "SHEARTH.BAM", Palette Notes: "SHEARTH1.BMP" (blue)</li>
	<li>6 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:123, Animation: "SHWATER.BAM", Palette Notes: "SHWATER1.BMP" (blue)</li>

	<li>8 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:124, Animation: "SHAIR.BAM", Palette Notes: "SHAIR2.BMP" (gold)</li>
	<li>9 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:125, Animation: "SHEARTH.BAM", Palette Notes: "SHEARTH2.BMP" (gold)</li>
	<li>10 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:126, Animation: "SHWATER.BAM", Palette Notes: "SHWATER2.BMP" (gold)</li>

	<li>12 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:127, Animation: "SHAIR.BAM", Palette Notes: "SHAIR3.BMP" (green)</li>
	<li>13 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:128, Animation: "SHEARTH.BAM", Palette Notes: "SHEARTH3.BMP" (green)</li>
	<li>14 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:129, Animation: "SHWATER.BAM", Palette Notes: "SHWATER3.BMP" (green)</li>

	<li>16 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:130, Animation: "SHAIR.BAM", Palette Notes: "SHAIR4.BMP" (magenta)</li>
	<li>17 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:131, Animation: "SHEARTH.BAM", Palette Notes: "SHEARTH4.BMP" (magenta)</li>
	<li>18 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:132, Animation: "SHWATER.BAM", Palette Notes: "SHWATER4.BMP" (magenta)</li>

	<li>20 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:133, Animation: "SHAIR.BAM", Palette Notes: "SHAIR5.BMP" (purple)</li>
	<li>21 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:134, Animation: "SHEARTH.BAM", Palette Notes: "SHEARTH5.BMP" (purple)</li>
	<li>22 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:135, Animation: "SHWATER.BAM", Palette Notes: "SHWATER5.BMP" (purple)</li>

	<li>24 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:136, Animation: "SHAIR.BAM", Palette Notes: "SHAIR6.BMP" (red)</li>
	<li>25 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:137, Animation: "SHEARTH.BAM", Palette Notes: "SHEARTH6.BMP" (red)</li>
	<li>26 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:138, Animation: "SHWATER.BAM", Palette Notes: "SHWATER6.BMP" (red)</li>

	<li>28 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:139, Animation: "SHAIR.BAM", Palette Notes: "SHAIR7.BMP" (stone)</li>
	<li>29 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:140, Animation: "SHEARTH.BAM", Palette Notes: "SHEARTH7.BMP" (stone)</li>
	<li>30 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:141, Animation: "SHWATER.BAM", Palette Notes: "SHWATER7.BMP" (stone)</li>

	<li>32 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:142, Animation: "SPBOOM.BAM", Palette Notes: MPALETTE[67] (shiny gold)</li>
	<li>33 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:143, Animation: "SPBOOM.BAM", Palette Notes: MPALETTE[65] (really dark gray)</li>
	<li>34 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:144, Animation: "SPBOOM.BAM", Palette Notes: MPALETTE[69] (shiny green)</li>
	<li>35 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:145, Animation: "FLMSTRK.BAM", Palette Notes: (default) (BG1 flamestrike)</li>
	<li>36 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:146, Animation: "HLYMITE.BAM", Palette Notes: (default) (BG1 draw upon holy might)</li>
	<li>37 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:147, Animation: "SHAIR.BAM", Palette Notes: (default) (white)</li>
	<li>38 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:109, Animation: "SPDIMNDR.BAM", Palette Notes: (default) (BG1 dimension door)</li>
	<li>39 => <a href="../files/ids/bgee/projectl.htm">PRO</a>[Index]:207, Animation: "SPFDEATH.BAM", Palette Notes: (default) (BG1 finger of death)</li>
</ul>

{% capture note %}
All of these projectiles are hardcoded, but can be overridden in <a href="../files/ids/bgee/projectl.htm">PROJECTL.IDS</a>
{% endcapture %}

{% include note.html %}

{% capture note %}
This projectile does not deliver any effects.
{% endcapture %}

{% include note.html %}

{% capture note %}
The speed of the projectiles animations ARE NOT affected by <a href="../files/ids/bgee/state.htm">STATE</a>[BIT15|STATE_HASTED] and <a href="../files/ids/bgee/state.htm">STATE</a>[BIT16|STATE_SLOWED] of the target.
{% endcapture %}

{% include note.html %}
