---
n: 141
name: "Graphics: Lighting Effects"
param1: "Target"
param2: "Type"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Actually creates the projectile (not just a BAM file) specified by the <code>Type</code> value at the location specified by <code>Target</code>. These effects are usually used for spell hits based on the spell school.
<br/>Known values for <code>Target</code> are:
<ul>
	<li>0 &LongRightArrow; Current Location</li>
	<li>Non-zero &LongRightArrow; Target Location</li>
</ul>

<br/>Known values for <code>Type</code> are:
<br/>

<table border="1" width="98%">
	<colgroup>
		<col width="5%" />
		<col width="12%" />
		<col width="*" />
	</colgroup>
	<thead>
		<tr>
			<th><code>Type</code> value</th>
			<th><a href="../files/ids/bgee/projectl.htm">PRO</a> Index</th>
			<th>Animation</th>
			<th>Palette Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0</td>
			<td>118</td>
			<td>SHAIR.BAM</td>
			<td>default (ice)</td>
		</tr>

		<tr>
			<td>1</td>
			<td>119</td>
			<td>SHEARTH.BAM</td>
			<td>default (ice)</td>
		</tr>

		<tr>
			<td>2</td>
			<td>120</td>
			<td>SHWATER.BAM</td>
			<td>default (ice)</td>
		</tr>

		<tr>
			<td>4</td>
			<td>121</td>
			<td>SHAIR.BAM</td>
			<td>SHAIR1.BMP (blue)</td>
		</tr>

		<tr>
			<td>5</td>
			<td>122</td>
			<td>SHEARTH.BAM</td>
			<td>SHEARTH1.BMP (blue)</td>
		</tr>

		<tr>
			<td>6</td>
			<td>123</td>
			<td>SHWATER.BAM</td>
			<td>SHWATER1.BMP (blue)</td>
		</tr>

		<tr>
			<td>8</td>
			<td>124</td>
			<td>SHAIR.BAM</td>
			<td>SHAIR2 (gold)</td>
		</tr>

		<tr>
			<td>9</td>
			<td>125</td>
			<td>SHEARTH.BAM</td>
			<td>SHEARTH2 (gold)</td>
		</tr>

		<tr>
			<td>10</td>
			<td>126</td>
			<td>SHWATER.BAM</td>
			<td>SHWATER2 (gold)</td>
		</tr>

		<tr>
			<td>12</td>
			<td>127</td>
			<td>SHAIR.BAM</td>
			<td>SHAIR3 (green)</td>
		</tr>

		<tr>
			<td>13</td>
			<td>128</td>
			<td>SHEARTH.BAM</td>
			<td>SHEARTH3 (green)</td>
		</tr>

		<tr>
			<td>14</td>
			<td>129</td>
			<td>SHWATER.BAM</td>
			<td>SHWATER3 (green)</td>
		</tr>

		<tr>
			<td>16</td>
			<td>130</td>
			<td>SHAIR.BAM</td>
			<td>SHAIR4 (magenta)</td>
		</tr>

		<tr>
			<td>17</td>
			<td>131</td>
			<td>SHEARTH.BAM</td>
			<td>SHEARTH4 (magenta)</td>
		</tr>

		<tr>
			<td>18</td>
			<td>132</td>
			<td>SHWATER.BAM</td>
			<td>SHWATER4 (magenta)</td>
		</tr>

		<tr>
			<td>20</td>
			<td>133</td>
			<td>SHAIR.BAM</td>
			<td>SHAIR5 (purple)</td>
		</tr>

		<tr>
			<td>21</td>
			<td>134</td>
			<td>SHEARTH.BAM</td>
			<td>SHEARTH5 (purple)</td>
		</tr>

		<tr>
			<td>22</td>
			<td>135</td>
			<td>SHWATER.BAM</td>
			<td>SHWATER5 (purple)</td>
		</tr>

		<tr>
			<td>24</td>
			<td>136</td>
			<td>SHAIR.BAM</td>
			<td>SHAIR6 (red)</td>
		</tr>

		<tr>
			<td>25</td>
			<td>137</td>
			<td>SHEARTH.BAM</td>
			<td>SHEARTH6 (red)</td>
		</tr>

		<tr>
			<td>26</td>
			<td>138</td>
			<td>SHWATER.BAM</td>
			<td>SHWATER6 (red)</td>
		</tr>

		<tr>
			<td>28</td>
			<td>139</td>
			<td>SHAIR.BAM</td>
			<td>SHAIR7 (stone)</td>
		</tr>

		<tr>
			<td>29</td>
			<td>140</td>
			<td>SHEARTH.BAM</td>
			<td>SHEARTH7 (stone)</td>
		</tr>

		<tr>
			<td>30</td>
			<td>141</td>
			<td>SHWATER.BAM</td>
			<td>SHWATER7 (stone)</td>
		</tr>

		<tr>
			<td>32</td>
			<td>142</td>
			<td>SPBOOM.BAM</td>
			<td>MPALETTE[67] (shiny gold)</td>
		</tr>

		<tr>
			<td>33</td>
			<td>143</td>
			<td>SPBOOM.BAM</td>
			<td>MPALETTE[65] (really dark gray)</td>
		</tr>

		<tr>
			<td>34</td>
			<td>144</td>
			<td>SPBOOM.BAM</td>
			<td>MPALETTE[69] (shiny green)</td>
		</tr>

		<tr>
			<td>35</td>
			<td>145</td>
			<td>FLMSTRK.BAM</td>
			<td>default (BG1 flamestrike)</td>
		</tr>

		<tr>
			<td>36</td>
			<td>146</td>
			<td>HLYMITE.BAM</td>
			<td>default (BG1 draw upon holy might)</td>
		</tr>

		<tr>
			<td>37</td>
			<td>147</td>
			<td>SHAIR.BAM</td>
			<td>default (white)</td>
		</tr>

		<tr>
			<td>38</td>
			<td>109</td>
			<td>SPDIMNDR.BAM</td>
			<td>default (BG1 dimension door)</td>
		</tr>

		<tr>
			<td>39</td>
			<td>207</td>
			<td>SPFDEATH.BAM</td>
			<td>default (BG1 finger of death)</td>
		</tr>
	</tbody>
</table>

{% capture note %}
These projectiles ignore their entry in <a href="../files/ids/bgee/projectl.htm">PROJECTL.IDS</a>, they cannot be overwritten.<br />
Their animations ("SHAIR", "SHWATER", etc...) can be though.
{% endcapture %}

{% include note.html %}

{% capture note %}
This projectile does not deliver any effects.
{% endcapture %}

{% include note.html %}

{% capture note %}
The speed of the projectiles animations ARE NOT affected by <a href="../files/ids/bgee/state.htm#BIT15">STATE_HASTED</a> and <a href="../files/ids/bgee/state.htm#BIT16">STATE_SLOWED</a> of the target.
{% endcapture %}

{% include note.html %}
