---
n: 142
name: "Graphics: Display Special Effect Icon"
param1: "Irrelevant"
param2: "Icon"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Shows the icon specified by the <code>Icon</code> field on the targeted creature(s) portrait.
<br/>All values are drawn directly from "STATES.BAM" in the "GUIBam.bif" starting at sequence <code>65</code>.
<br/><br/>

<table border="1" width="98%">
	<colgroup>
		<col width="10%" />
		<col width="10%" />
		<col width="*" />
	</colgroup>
	<thead>
		<tr>
			<th><code>Icon</code> value</th>
			<th>BG2</th>
			<th>BG(2):EE</th>
			<th>IWD:EE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0</td>
			<td>Charm</td>
			<td>Charm</td>
			<td>Charm</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Dire Charm</td>
			<td>Dire Charm</td>
			<td>Dire Charm</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Rigid Thinking</td>
			<td>Rigid Thinking</td>
			<td>Rigid Thinking</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Confused</td>
			<td>Confused</td>
			<td>Confused</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Berserk</td>
			<td>Berserk</td>
			<td>Berserk</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Intoxicated</td>
			<td>Intoxicated</td>
			<td>Intoxicated</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Poisoned</td>
			<td>Poisoned</td>
			<td>Poisoned</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Diseased</td>
			<td>Diseased</td>
			<td>Diseased</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Blind</td>
			<td>Blind</td>
			<td>Blind</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Protection From Evil</td>
			<td>Protection From Evil</td>
			<td>Protection From Evil</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Protection From Petrification</td>
			<td>Protection From Petrification</td>
			<td>Protection From Petrification</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Protection From Missiles</td>
			<td>Protection From Missiles</td>
			<td>Protection From Missiles</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Magic Armor</td>
			<td>Magic Armor</td>
			<td>Magic Armor</td>
		</tr>
		<tr>
			<td>13</td>
			<td>Held</td>
			<td>Held</td>
			<td>Held</td>
		</tr>
		<tr>
			<td>14</td>
			<td>Sleep</td>
			<td>Sleep</td>
			<td>Sleep</td>
		</tr>
		<tr>
			<td>15</td>
			<td>Shielded</td>
			<td>Shielded</td>
			<td>Shielded</td>
		</tr>
		<tr>
			<td>16</td>
			<td>Protection From Fire</td>
			<td>Protection From Fire</td>
			<td>Protection From Fire</td>
		</tr>
		<tr>
			<td>17</td>
			<td>Blessed</td>
			<td>Blessed</td>
			<td>Blessed</td>
		</tr>
		<tr>
			<td>18</td>
			<td>Chant</td>
			<td>Chant</td>
			<td>Chant</td>
		</tr>
		<tr>
			<td>19</td>
			<td>Free Action</td>
			<td>Free Action</td>
			<td>Free Action</td>
		</tr>
		<tr>
			<td>20</td>
			<td>Barkskin</td>
			<td>Barkskin</td>
			<td>Barkskin</td>
		</tr>
		<tr>
			<td>21</td>
			<td>Strength</td>
			<td>Strength</td>
			<td>Strength</td>
		</tr>
		<tr>
			<td>22</td>
			<td>Heroism</td>
			<td>Heroism</td>
			<td>Heroism</td>
		</tr>
		<tr>
			<td>23</td>
			<td>Invulnerable</td>
			<td>Invulnerable</td>
			<td>Invulnerable</td>
		</tr>
		<tr>
			<td>24</td>
			<td>Protection From Acid</td>
			<td>Protection From Acid</td>
			<td>Protection From Acid</td>
		</tr>
		<tr>
			<td>25</td>
			<td>Protection From Cold</td>
			<td>Protection From Cold</td>
			<td>Protection From Cold</td>
		</tr>
		<tr>
			<td>26</td>
			<td>Resist Fire/Cold</td>
			<td>Resist Fire/Cold</td>
			<td>Resist Fire/Cold</td>
		</tr>
		<tr>
			<td>27</td>
			<td>Protection From Electricity</td>
			<td>Protection From Electricity</td>
			<td>Protection From Electricity</td>
		</tr>
		<tr>
			<td>28</td>
			<td>Protection From Magic</td>
			<td>Protection From Magic</td>
			<td>Protection From Magic</td>
		</tr>
		<tr>
			<td>29</td>
			<td>Protection From Undead</td>
			<td>Protection From Undead</td>
			<td>Protection From Undead</td>
		</tr>
		<tr>
			<td>30</td>
			<td>Protection From Poison</td>
			<td>Protection From Poison</td>
			<td>Protection From Poison</td>
		</tr>
		<tr>
			<td>31</td>
			<td>Non-detectable</td>
			<td>Non-detectable</td>
			<td>Non-detectable</td>
		</tr>
		<tr>
			<td>32</td>
			<td>Good Luck</td>
			<td>Good Luck</td>
			<td>Good Luck</td>
		</tr>
		<tr>
			<td>33</td>
			<td>Bad Luck</td>
			<td>Bad Luck</td>
			<td>Bad Luck</td>
		</tr>
		<tr>
			<td>34</td>
			<td>Silenced</td>
			<td>Silenced</td>
			<td>Silenced</td>
		</tr>
		<tr>
			<td>35</td>
			<td>Cursed</td>
			<td>Cursed</td>
			<td>Cursed</td>
		</tr>
		<tr>
			<td>36</td>
			<td>Panic</td>
			<td>Panic</td>
			<td>Panic</td>
		</tr>
		<tr>
			<td>37</td>
			<td>Resist Fear</td>
			<td>Resist Fear</td>
			<td>Resist Fear</td>
		</tr>
		<tr>
			<td>38</td>
			<td>Haste</td>
			<td>Haste</td>
			<td>Haste</td>
		</tr>
		<tr>
			<td>39</td>
			<td>Fatigue</td>
			<td>Fatigue</td>
			<td>Fatigue</td>
		</tr>
		<tr>
			<td>40</td>
			<td>Bard Song</td>
			<td>Bard Song</td>
			<td>Bard Song</td>
		</tr>
		<tr>
			<td>41</td>
			<td>Slow</td>
			<td>Slow</td>
			<td>Slow</td>
		</tr>
		<tr>
			<td>42</td>
			<td>Regenerate</td>
			<td>Regenerate</td>
			<td>Regenerate</td>
		</tr>
		<tr>
			<td>43</td>
			<td>Domination</td>
			<td>Domination</td>
			<td>Domination</td>
		</tr>
		<tr>
			<td>44</td>
			<td>Hopelessness</td>
			<td>Hopelessness</td>
			<td>Hopelessness</td>
		</tr>
		<tr>
			<td>45</td>
			<td>Greater Malison</td>
			<td>Greater Malison</td>
			<td>Greater Malison</td>
		</tr>
		<tr>
			<td>46</td>
			<td>Spirit Armor</td>
			<td>Spirit Armor</td>
			<td>Spirit Armor</td>
		</tr>
		<tr>
			<td>47</td>
			<td>Chaos</td>
			<td>Chaos</td>
			<td>Chaos</td>
		</tr>
		<tr>
			<td>48</td>
			<td>Feebleminded</td>
			<td>Feebleminded</td>
			<td>Feebleminded</td>
		</tr>
		<tr>
			<td>49</td>
			<td>Defensive Harmony</td>
			<td>Defensive Harmony</td>
			<td>Defensive Harmony</td>
		</tr>
		<tr>
			<td>50</td>
			<td>Champion's Strength</td>
			<td>Champion's Strength</td>
			<td>Champion's Strength</td>
		</tr>
		<tr>
			<td>51</td>
			<td>Dying</td>
			<td>Dying</td>
			<td>Dying</td>
		</tr>
		<tr>
			<td>52</td>
			<td>Mind Shield</td>
			<td>Mind Shield</td>
			<td>Mind Shield</td>
		</tr>
		<tr>
			<td>53</td>
			<td>Energy Drain</td>
			<td>Energy Drain</td>
			<td>Energy Drain</td>
		</tr>
		<tr>
			<td>54</td>
			<td>Polymorph Self</td>
			<td>Polymorph Self</td>
			<td>Polymorph Self</td>
		</tr>
		<tr>
			<td>55</td>
			<td>Stun</td>
			<td>Stun</td>
			<td>Stun</td>
		</tr>
		<tr>
			<td>56</td>
			<td>Regeneration</td>
			<td>Regeneration</td>
			<td>Regeneration</td>
		</tr>
		<tr>
			<td>57</td>
			<td>Perception</td>
			<td>Perception</td>
			<td>Perception</td>
		</tr>
		<tr>
			<td>58</td>
			<td>Master Thievery</td>
			<td>Master Thievery</td>
			<td>Master Thievery</td>
		</tr>
		<tr>
			<td>59</td>
			<td>Energy Drain</td>
			<td>Energy Drain</td>
			<td>Energy Drain</td>
		</tr>
		<tr>
			<td>60</td>
			<td>Holy Power</td>
			<td>Holy Power</td>
			<td>Holy Power</td>
		</tr>
		<tr>
			<td>61</td>
			<td>Cloak of Fear</td>
			<td>Cloak of Fear</td>
			<td>Cloak of Fear</td>
		</tr>
		<tr>
			<td>62</td>
			<td>Iron Skins</td>
			<td>Iron Skins</td>
			<td>Iron Skins</td>
		</tr>
		<tr>
			<td>63</td>
			<td>Magic Resistance</td>
			<td>Magic Resistance</td>
			<td>Magic Resistance</td>
		</tr>
		<tr>
			<td>64</td>
			<td>Righteous Magic</td>
			<td>Righteous Magic</td>
			<td>Righteous Magic</td>
		</tr>
		<tr>
			<td>65</td>
			<td>Spell Turning</td>
			<td>Spell Turning</td>
			<td>Spell Turning</td>
		</tr>
		<tr>
			<td>66</td>
			<td>Repulsing Undead</td>
			<td>Repulsing Undead</td>
			<td>Repulsing Undead</td>
		</tr>
		<tr>
			<td>67</td>
			<td>Spell Deflection</td>
			<td>Spell Deflection</td>
			<td>Spell Deflection</td>
		</tr>
		<tr>
			<td>68</td>
			<td>Fireshield Red</td>
			<td>Fireshield Red</td>
			<td>Fireshield Red</td>
		</tr>
		<tr>
			<td>69</td>
			<td>Fireshield Blue</td>
			<td>Fireshield Blue</td>
			<td>Fireshield Blue</td>
		</tr>
		<tr>
			<td>70</td>
			<td>Protection from Normal Weapon</td>
			<td>Protection from Normal Weapon</td>
			<td>Protection from Normal Weapon</td>
		</tr>
		<tr>
			<td>71</td>
			<td>Protection from Magic Weapon</td>
			<td>Protection from Magic Weapon</td>
			<td>Protection from Magic Weapon</td>
		</tr>
		<tr>
			<td>72</td>
			<td>Tenser's Transformation</td>
			<td>Tenser's Transformation</td>
			<td>Tenser's Transformation</td>
		</tr>
		<tr>
			<td>73</td>
			<td>Protection from Magical Energy</td>
			<td>Spell Shield</td>
			<td>Spell Shield</td>
		</tr>
		<tr>
			<td>74</td>
			<td>Mislead</td>
			<td>Mislead</td>
			<td>Mislead</td>
		</tr>
		<tr>
			<td>75</td>
			<td>Contingency Active</td>
			<td>Contingency Active</td>
			<td>Contingency Active</td>
		</tr>
		<tr>
			<td>76</td>
			<td>Protected from the Elements</td>
			<td>Protected from the Elements</td>
			<td>Protected from the Elements</td>
		</tr>
		<tr>
			<td>77</td>
			<td>Projected Image</td>
			<td>Projected Image</td>
			<td>Projected Image</td>
		</tr>
		<tr>
			<td>78</td>
			<td>Maze</td>
			<td>Maze</td>
			<td>Maze</td>
		</tr>
		<tr>
			<td>79</td>
			<td>Imprisonment</td>
			<td>Imprisonment</td>
			<td>Imprisonment</td>
		</tr>
		<tr>
			<td>80</td>
			<td>Stoneskin</td>
			<td>Stoneskin</td>
			<td>Stoneskin</td>
		</tr>
		<tr>
			<td>81</td>
			<td>KAI</td>
			<td>KAI</td>
			<td>KAI</td>
		</tr>
		<tr>
			<td>82</td>
			<td>Called Shot</td>
			<td>Called Shot</td>
			<td>Called Shot</td>
		</tr>
		<tr>
			<td>83</td>
			<td>Spell Failure</td>
			<td>Spell Failure</td>
			<td>Spell Failure</td>
		</tr>
		<tr>
			<td>84</td>
			<td>Offensive Spin</td>
			<td>Offensive Spin</td>
			<td>Offensive Spin</td>
		</tr>
		<tr>
			<td>85</td>
			<td>Defensive Spin</td>
			<td>Defensive Spin</td>
			<td>Defensive Spin</td>
		</tr>
		<tr>
			<td>86</td>
			<td>Intelligence drained by mind flayer</td>
			<td>Intelligence drained by mind flayer</td>
			<td>Intelligence drained by mind flayer</td>
		</tr>
		<tr>
			<td>87</td>
			<td>Regenerating</td>
			<td>Regenerating</td>
			<td>Regenerating</td>
		</tr>
		<tr>
			<td>88</td>
			<td>In Dialog</td>
			<td>In Dialog</td>
			<td>In Dialog</td>
		</tr>
		<tr>
			<td>89</td>
			<td>In Store</td>
			<td>In Store</td>
			<td>In Store</td>
		</tr>
		<tr>
			<td>90</td>
			<td>Negative Plane Protection</td>
			<td>Negative Plane Protection</td>
			<td>Negative Plane Protection</td>
		</tr>
		<tr>
			<td>91</td>
			<td>Ability Score Drained</td>
			<td>Ability Score Drained</td>
			<td>Ability Score Drained</td>
		</tr>
		<tr>
			<td>92</td>
			<td>Spell Sequencer Active</td>
			<td>Spell Sequencer Active</td>
			<td>Spell Sequencer Active</td>
		</tr>
		<tr>
			<td>93</td>
			<td>Protected from Energy</td>
			<td>Protected from Energy</td>
			<td>Protected from Energy</td>
		</tr>
		<tr>
			<td>94</td>
			<td>Magnetized</td>
			<td>Magnetized</td>
			<td>Magnetized</td>
		</tr>
		<tr>
			<td>95</td>
			<td>Able to Poison Weapons</td>
			<td>Able to Poison Weapons</td>
			<td>Able to Poison Weapons</td>
		</tr>
		<tr>
			<td>96</td>
			<td>Setting Trap</td>
			<td>Setting Trap</td>
			<td>Setting Trap</td>
		</tr>
		<tr>
			<td>97</td>
			<td>Glass Dust</td>
			<td>Glass Dust</td>
			<td>Glass Dust</td>
		</tr>
		<tr>
			<td>98</td>
			<td>Blade Barrier</td>
			<td>Blade Barrier</td>
			<td>Blade Barrier</td>
		</tr>
		<tr>
			<td>99</td>
			<td>Death Ward</td>
			<td>Death Ward</td>
			<td>Death Ward</td>
		</tr>
		<tr>
			<td>100</td>
			<td>Doom</td>
			<td>Doom</td>
			<td>Doom</td>
		</tr>
		<tr>
			<td>101</td>
			<td>Decaying</td>
			<td>Decaying</td>
			<td>Decaying</td>
		</tr>
		<tr>
			<td>102</td>
			<td>Acid</td>
			<td>Acid</td>
			<td>Acid</td>
		</tr>
		<tr>
			<td>103</td>
			<td>Vocalize</td>
			<td>Vocalize</td>
			<td>Vocalize</td>
		</tr>
		<tr>
			<td>104</td>
			<td>Mantle</td>
			<td>Mantle</td>
			<td>Mantle</td>
		</tr>
		<tr>
			<td>105</td>
			<td>Miscast Magic</td>
			<td>Miscast Magic</td>
			<td>Miscast Magic</td>
		</tr>
		<tr>
			<td>106</td>
			<td>Magic Resistance Lowered</td>
			<td>Magic Resistance Lowered</td>
			<td>Magic Resistance Lowered</td>
		</tr>
		<tr>
			<td>107</td>
			<td>Spell Immunity</td>
			<td>Spell Immunity</td>
			<td>Spell Immunity</td>
		</tr>
		<tr>
			<td>108</td>
			<td>True Seeing</td>
			<td>True Seeing</td>
			<td>True Seeing</td>
		</tr>
		<tr>
			<td>109</td>
			<td>Detecting Traps</td>
			<td>Detecting Traps / Illusions</td>
			<td>Detecting Traps</td>
		</tr>
		<tr>
			<td>110</td>
			<td>Improved Haste</td>
			<td>Improved Haste</td>
			<td>Improved Haste</td>
		</tr>
		<tr>
			<td>111</td>
			<td>Spell Trigger</td>
			<td>Spell Trigger</td>
			<td>Spell Trigger</td>
		</tr>
		<tr>
			<td>112</td>
			<td>Deaf</td>
			<td>Deaf</td>
			<td>Deaf</td>
		</tr>
		<tr>
			<td>113</td>
			<td>Enfeebled</td>
			<td>Enfeebled</td>
			<td>Enfeebled</td>
		</tr>
		<tr>
			<td>114</td>
			<td>Infravision</td>
			<td>Infravision</td>
			<td>Infravision</td>
		</tr>
		<tr>
			<td>115</td>
			<td>Friends</td>
			<td>Friends</td>
			<td>Friends</td>
		</tr>
		<tr>
			<td>116</td>
			<td>Shield of the Archons</td>
			<td>Shield of the Archons</td>
			<td>Shield of the Archons</td>
		</tr>
		<tr>
			<td>117</td>
			<td>Spell Trap</td>
			<td>Spell Trap</td>
			<td>Spell Trap</td>
		</tr>
		<tr>
			<td>118</td>
			<td>Absolute Immunity</td>
			<td>Absolute Immunity</td>
			<td>Absolute Immunity</td>
		</tr>
		<tr>
			<td>119</td>
			<td>Improved Mantle</td>
			<td>Improved Mantle</td>
			<td>Improved Mantle</td>
		</tr>
		<tr>
			<td>120</td>
			<td>Farsight</td>
			<td>Farsight</td>
			<td>Farsight</td>
		</tr>
		<tr>
			<td>121</td>
			<td>Globe of Invulnerability</td>
			<td>Globe of Invulnerability</td>
			<td>Globe of Invulnerability</td>
		</tr>
		<tr>
			<td>122</td>
			<td>Minor Globe Of Invulnerability</td>
			<td>Minor Globe Of Invulnerability</td>
			<td>Minor Globe Of Invulnerability</td>
		</tr>
		<tr>
			<td>123</td>
			<td>Spell Shield</td>
			<td>Protected from Magical Energy</td>
			<td>Protected from Magical Energy</td>
		</tr>
		<tr>
			<td>124</td>
			<td>Polymorphed</td>
			<td>Polymorphed</td>
			<td>Polymorphed</td>
		</tr>
		<tr>
			<td>125</td>
			<td>Otiluke's Resilient Sphere</td>
			<td>Otiluke's Resilient Sphere</td>
			<td>Otiluke's Resilient Sphere</td>
		</tr>
		<tr>
			<td>126</td>
			<td>Nauseated</td>
			<td>Nauseated</td>
			<td>Nauseated</td>
		</tr>
		<tr>
			<td>127</td>
			<td>Ghost Armor</td>
			<td>Ghost Armor</td>
			<td>Ghost Armor</td>
		</tr>
		<tr>
			<td>128</td>
			<td>Glitterdust</td>
			<td>Glitterdust</td>
			<td>Glitterdust</td>
		</tr>
		<tr>
			<td>129</td>
			<td>Webbed</td>
			<td>Webbed</td>
			<td>Webbed</td>
		</tr>
		<tr>
			<td>130</td>
			<td>Unconscious</td>
			<td>Unconscious</td>
			<td>Unconscious</td>
		</tr>
		<tr>
			<td>131</td>
			<td>Mental Combat</td>
			<td>Mental Combat</td>
			<td>Mental Combat</td>
		</tr>
		<tr>
			<td>132</td>
			<td>Physical Mirror</td>
			<td>Physical Mirror</td>
			<td>Physical Mirror</td>
		</tr>
		<tr>
			<td>133</td>
			<td>Repulse Undead</td>
			<td>Repulse Undead</td>
			<td>Repulse Undead</td>
		</tr>
		<tr>
			<td>134</td>
			<td>Chaotic Commands</td>
			<td>Chaotic Commands</td>
			<td>Chaotic Commands</td>
		</tr>
		<tr>
			<td>135</td>
			<td>Draw Upon Holy Might</td>
			<td>Draw Upon Holy Might</td>
			<td>Draw Upon Holy Might</td>
		</tr>
		<tr>
			<td>136</td>
			<td>Strength of One</td>
			<td>Strength of One</td>
			<td>Strength of One</td>
		</tr>
		<tr>
			<td>137</td>
			<td>Bleeding</td>
			<td>Bleeding</td>
			<td>Bleeding</td>
		</tr>
		<tr>
			<td>138</td>
			<td>Rage</td>
			<td>Rage</td>
			<td>Rage</td>
		</tr>
		<tr>
			<td>139</td>
			<td>Boon of Lathander</td>
			<td>Boon of Lathander</td>
			<td>Boon of Lathander</td>
		</tr>
		<tr>
			<td>140</td>
			<td>Storm Shield</td>
			<td>Storm Shield</td>
			<td>Storm Shield</td>
		</tr>
		<tr>
			<td>141</td>
			<td>Enraged</td>
			<td>Enraged</td>
			<td>Enraged</td>
		</tr>
		<tr>
			<td>142</td>
			<td>Stunning Blow</td>
			<td>Stunning Blow</td>
			<td>Stunning Blow</td>
		</tr>
		<tr>
			<td>143</td>
			<td>Quivering Palm</td>
			<td>Quivering Palm</td>
			<td>Quivering Palm</td>
		</tr>
		<tr>
			<td>144</td>
			<td>Entangled</td>
			<td>Entangled</td>
			<td>Entangled</td>
		</tr>
		<tr>
			<td>145</td>
			<td>Grease</td>
			<td>Grease</td>
			<td>Grease</td>
		</tr>
		<tr>
			<td>146</td>
			<td>Smite</td>
			<td>Smite</td>
			<td>Smite</td>
		</tr>
		<tr>
			<td>147</td>
			<td>Hardiness</td>
			<td>Hardiness</td>
			<td>Hardiness</td>
		</tr>
		<tr>
			<td>148</td>
			<td>Power Attack</td>
			<td>Power Attack</td>
			<td>Power Attack</td>
		</tr>
		<tr>
			<td>149</td>
			<td>Whirlwind Attack</td>
			<td>Whirlwind Attack</td>
			<td>Whirlwind Attack</td>
		</tr>
		<tr>
			<td>150</td>
			<td>Greater Whirlwind Attack</td>
			<td>Greater Whirlwind Attack</td>
			<td>Greater Whirlwind Attack</td>
		</tr>
		<tr>
			<td>151</td>
			<td>Magic Flute</td>
			<td>Magic Flute</td>
			<td>Chaos of Battle</td>
		</tr>
		<tr>
			<td>152</td>
			<td>Critical Strike</td>
			<td>Critical Strike</td>
			<td>Critical Strike</td>
		</tr>
		<tr>
			<td>153</td>
			<td>Greater Deathblow</td>
			<td>Greater Deathblow</td>
			<td>Greater Deathblow</td>
		</tr>
		<tr>
			<td>154</td>
			<td>Deathblow</td>
			<td>Deathblow</td>
			<td>Deathblow</td>
		</tr>
		<tr>
			<td>155</td>
			<td>Avoid Death</td>
			<td>Avoid Death</td>
			<td>Avoid Death</td>
		</tr>
		<tr>
			<td>156</td>
			<td>Assassination</td>
			<td>Assassination</td>
			<td>Assassination</td>
		</tr>
		<tr>
			<td>157</td>
			<td>Evasion</td>
			<td>Evasion</td>
			<td>Evasion</td>
		</tr>
		<tr>
			<td>158</td>
			<td>Greater Evasion</td>
			<td>Greater Evasion</td>
			<td>Greater Evasion</td>
		</tr>
		<tr>
			<td>159</td>
			<td>Improved Alacrity</td>
			<td>Improved Alacrity</td>
			<td>Improved Alacrity</td>
		</tr>
		<tr>
			<td>160</td>
			<td>Aura of Flaming Death</td>
			<td>Aura of Flaming Death</td>
			<td>Aura of Flaming Death</td>
		</tr>
		<tr>
			<td>161</td>
			<td>Globe of Blades</td>
			<td>Globe of Blades</td>
			<td>Globe of Blades</td>
		</tr>
		<tr>
			<td>162</td>
			<td>Improved Chaos Shield</td>
			<td>Improved Chaos Shield</td>
			<td>Improved Chaos Shield</td>
		</tr>
		<tr>
			<td>163</td>
			<td>Chaos Shield</td>
			<td>Chaos Shield</td>
			<td>Chaos Shield</td>
		</tr>
		<tr>
			<td>164</td>
			<td>Fire Elemental Transformation</td>
			<td>Fire Elemental Transformation</td>
			<td>Fire Elemental Transformation</td>
		</tr>
		<tr>
			<td>165</td>
			<td>Earth Elemental Transformation</td>
			<td>Earth Elemental Transformation</td>
			<td>Earth Elemental Transformation</td>
		</tr>
		<tr>
			<td>166</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Mind Blank</td>
		</tr>
		<tr>
			<td>167</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Aid</td>
		</tr>
		<tr>
			<td>168</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Phased</td>
		</tr>
		<tr>
			<td>169</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Pain</td>
		</tr>
		<tr>
			<td>170</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Impervious Sanctity of Mind</td>
		</tr>
		<tr>
			<td>171</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Petrified</td>
		</tr>
		<tr>
			<td>172</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Iron Body</td>
		</tr>
		<tr>
			<td>173</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Animal Rage</td>
		</tr>
		<tr>
			<td>174</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Exaltation</td>
		</tr>
		<tr>
			<td>175</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Recitation</td>
		</tr>
		<tr>
			<td>176</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Blood Rage</td>
		</tr>
		<tr>
			<td>177</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>The Ballad of Three Heroes</td>
		</tr>
		<tr>
			<td>178</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>The Tale of Curran Strongheart</td>
		</tr>
		<tr>
			<td>179</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Tymora's Melody</td>
		</tr>
		<tr>
			<td>180</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>The Song of Kaudies</td>
		</tr>
		<tr>
			<td>181</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>The Siren's Yearning</td>
		</tr>
		<tr>
			<td>182</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>War Chant of Sith</td>
		</tr>
		<tr>
			<td>183</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Prayer</td>
		</tr>
		<tr>
			<td>184</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Righteous Wrath of the Faithful</td>
		</tr>
		<tr>
			<td>185</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Cat's Grace</td>
		</tr>
		<tr>
			<td>186</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Hope</td>
		</tr>
		<tr>
			<td>187</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Courage</td>
		</tr>
		<tr>
			<td>188</td>
			<td>Unknown</td>
			<td>Enchanted Weapon</td>
			<td>Unknown</td>
		</tr>
		<tr>
			<td>189</td>
			<td>Unknown</td>
			<td>Spirit Ward</td>
			<td>Spirit Ward</td>
		</tr>
		<tr>
			<td>190</td>
			<td>Unknown</td>
			<td>Ether Gate</td>
			<td>Ether Gate</td>
		</tr>
		<tr>
			<td>191</td>
			<td>Unknown</td>
			<td>Shamanic Dance</td>
			<td>Shamanic Dance</td>
		</tr>
		<tr>
			<td>192</td>
			<td>Unknown</td>
			<td>Chaos of Battle</td>
			<td>Repulsion</td>
		</tr>
		<tr>
			<td>193</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Increased Movement Rate</td>
		</tr>
		<tr>
			<td>194</td>
			<td>Unknown</td>
			<td>Repulsion</td>
			<td>Immunity: Abjuration</td>
		</tr>
		<tr>
			<td>195</td>
			<td>Unknown</td>
			<td>Increased Movement Rate</td>
			<td>Immunity: Conjuration</td>
		</tr>
		<tr>
			<td>196</td>
			<td>Unknown</td>
			<td>Immunity: Abjuration</td>
			<td>Immunity: Divination</td>
		</tr>
		<tr>
			<td>197</td>
			<td>Unknown</td>
			<td>Immunity: Conjuration</td>
			<td>Immunity: Enchantment</td>
		</tr>
		<tr>
			<td>198</td>
			<td>Unknown</td>
			<td>Immunity: Divination</td>
			<td>Immunity: Illusion</td>
		</tr>
		<tr>
			<td>199</td>
			<td>Unknown</td>
			<td>Immunity: Enchantment</td>
			<td>Immunity: Evocation</td>
		</tr>
		<tr>
			<td>200</td>
			<td>Unknown</td>
			<td>Immunity: Illusion</td>
			<td>Immunity: Necromancy</td>
		</tr>
		<tr>
			<td>201</td>
			<td>Unknown</td>
			<td>Immunity: Evocation</td>
			<td>Immunity: Alteration</td>
		</tr>
		<tr>
			<td>202</td>
			<td>Unknown</td>
			<td>Immunity: Necromancy</td>
			<td>Enchanted Weapon</td>
		</tr>
		<tr>
			<td>203</td>
			<td>Unknown</td>
			<td>Immunity: Alteration</td>
			<td>Static Charge</td>
		</tr>
		<tr>
			<td>204</td>
			<td>Unknown</td>
			<td>Flaming Fists</td>
			<td>Entropy Shield</td>
		</tr>
		<tr>
			<td>205</td>
			<td>Unknown</td>
			<td>Frozen Fist</td>
			<td>Shield of Lathander</td>
		</tr>
		<tr>
			<td>206</td>
			<td>Unknown</td>
			<td>Armor of Faith</td>
			<td>Greater Shield of Lathander</td>
		</tr>
		<tr>
			<td>207</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Beltyn's Burning Blood</td>
		</tr>
		<tr>
			<td>208</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Shroud of Flame</td>
		</tr>
		<tr>
			<td>209</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Antimagic Shell</td>
		</tr>
		<tr>
			<td>210</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Flaming Fists</td>
		</tr>
		<tr>
			<td>211</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Frozen Fist</td>
		</tr>
		<tr>
			<td>212</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Circle of Bones</td>
		</tr>
		<tr>
			<td>213</td>
			<td>Unknown</td>
			<td>Unknown</td>
			<td>Armor of Faith</td>
		</tr>
	</tbody>
</table>

{% capture note %}
The engine refuses to show portrait 79 (Imprisonment).
{% endcapture %}

{% include note.html %}

{% capture note %}
In EE games, values <code>0 – 190</code> are drawn directly from "STATES.BAM" from sequences <code>65 – 255</code>, but can be overridden in <a href="../files/2da/2da_bgee/statdesc.htm">STATDESC.2DA</a>. Additional values must be added to <a href="../files/2da/2da_bgee/statdesc.htm">STATDESC.2DA</a>.
{% endcapture %}

{% include note.html %}
