---
n: 157
name: "State: Web Effect"
param1: "Irrelevant"
param2: "Mode"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Applies the web effect to the targeted creature(s). The affected creature becomes immobile and its AI scripts stop running.
<br/><br/>

Known values for <code>Mode</code> are:
<ul>
	<li>0 &longrightarrow; Default overlay, "WEBENTD.BAM"</li>
	<li>1 &longrightarrow; Custom overlay, Resource field: Animation file (VVC or BAM)</li>
</ul>

<br/>This effect sets <a href="../files/ids/bgee/stats.htm#58">HELD</a> and <a href="../files/ids/bgee/stats.htm#67">WEB</a> to <code>1</code>. It also sets the <a href="../files/ids/bgee/state.htm#BIT5">STATE_HELPLESS</a> flag.

{% capture note %}
Both parameters should be <code>0</code> (zero).
{% endcapture %}

{% include important.html %}

{% capture note %}
It cannot be removed by any of the stun/held removal opcodes.
{% endcapture %}

{% include note.html %}
