---
n: 157
name: "State: Web Effect"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 1
bg2: 1
bgee: 0
iwd1: 1
iwd2: 1
pst: 1
---
Applies the web effect to the targeted creature(s). The affected creature becomes immobile and its AI scripts stop running.
<br/>
<br/>This effect sets stats #58 (HELD) and #67 (WEB) to 1. It also sets the STATE_HELPLESS flag.

{% capture note %}
Both parameters should be 0 (zero).
{% endcapture %}

{% include important.html %}

{% capture note %}
It cannot be removed by any of the stun/held removal opcodes.
{% endcapture %}

{% include note.html %}
