---
n: 178
name: "Spell Effect: THAC0 vs. Creature Type Modifier"
param1: "IDS Entry"
param2: "IDS File"
special: "Statistic Modifier"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Alters the targeted creature(s) THAC0 against the creature type specified by the <code>IDS Entry</code> field in the specified <code>IDS File</code>.
<br/>The actual modifier value is placed in the <code>Parameter3</code> field in an external effect.
<br/>Known values for <code>IDS File</code> are:
<ul>
	<li>2 &longrightarrow; <a href="../files/ids/bgee/ea.htm">EA.IDS</a></li>
	<li>3 &longrightarrow; <a href="../files/ids/bgee/general.htm">GENERAL.IDS</a></li>
	<li>4 &longrightarrow; <a href="../files/ids/bgee/race.htm">RACE.IDS</a></li>
	<li>5 &longrightarrow; <a href="../files/ids/bgee/class.htm">CLASS.IDS</a></li>
	<li>6 &longrightarrow; <a href="../files/ids/bgee/specific.htm">SPECIFIC.IDS</a></li>
	<li>7 &longrightarrow; <a href="../files/ids/bgee/gender.htm">GENDER.IDS</a></li>
	<li>8 &longrightarrow; <a href="../files/ids/bgee/align.htm">ALIGN.IDS</a></li>
	<li>9 &longrightarrow; <a href="../files/ids/bgee/kit.htm">KIT.IDS</a> (EE only)</li>
</ul>

{% capture note %}
<ul>
	<li>It will affect all attacks, not just the weapon it's on, which would be incorrect when dual-wielding.</li>
	<li>Multiple <a href="#op178">opcode #178</a> effects only allow additional targeting, they do not stack their THAC0 bonus.</li>
</ul>
{% endcapture %}

{% include note.html %}

{% capture note %}
This opcode uses a reverse stacking order: the "oldest" effect with matching IDS values for the target is used, not the most recent, and equipped effects take priority over non-equipped effects.
{% endcapture %}

{% include note.html %}
