---
n: 171
name: "Spell: Give Ability"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 1
bg2: 1
bgee: 1
iwd1: 1
iwd2: 1
pst: 0
---
Gives the spell specified by the resource key to the targeted creature(s).

{% capture note %}
This opcode has only 3 functional timing modes: Instant/Permanent (1), Delayed/Permanent (4 - seconds), Delayed (7 - ticks). All others effectively convert to one of these.
{% endcapture %}

{% include note.html %}

{% capture note %}
Any delayed opcode 171 effect will be removed by death.
{% endcapture %}

{% include warning.html %}
