---
n: 192
name: "Spell Effect: Find Familiar"
param1: "Irrelevant"
param2: "Upgrade Marker"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
pstee: 1
---
Applies <a href="#op195">opcode #195</a>, <a href="#op196">opcode #196</a>, and <a href="#op268">opcode #268</a> to the summoned familiar.<br/>
The Familiar summoned is based on the alignment of the Protagonist and values stored in the <a href="../file_formats/ie_formats/gam_v2.0.htm#GAMEV2_0_Familiar">GAM</a> file (non-EE games) or <a href="../files/2da/2da_bgee/familiar.htm">FAMILIAR.2DA</a> (EE games).
<br/>On non-EE games, the <code>Upgrade Marker</code> field is used internally to indicate the familiar has received the ToB upgrades.
<ul>
	<li>On EE games, if there is an <code>Upgrade Marker</code>, it isn't on <a href="#op192">opcode #192</a> (needs researching...).</li>
</ul>
<br/>On non-EE games, default creatures for familiars are:
<ul>
	<li>Lawful Good &longrightarrow; Pseudo Dragon (<code>FAMPSD</code>)</li>
	<li>Lawful Neutral &longrightarrow; Ferret (<code>FAMFER</code>)</li>
	<li>Lawful Evil &longrightarrow; Imp (<code>FAMIMP</code>)</li>
	<li>Neutral Good &longrightarrow; Pseudo Dragon (<code>FAMPSD</code>)</li>
	<li>True Neutral &longrightarrow; Rabbit (<code>FAMRAB</code>)</li>
	<li>Neutral Evil &longrightarrow; Dust Mephit (<code>FAMDUST</code>)</li>
	<li>Chaotic Good &longrightarrow; Fairy Dragon (<code>FAMFAIR</code>)</li>
	<li>Chaotic Neutral &longrightarrow; Cat (<code>FAMCAT</code>)</li>
	<li>Chaotic Evil &longrightarrow; Quasit (<code>FAMQUAS</code>)</li>
</ul>

{% capture note %}
The familiars (<a href="../file_formats/ie_formats/cre_v1.htm">CRE</a>) available are locked in once a new game begins (any changes to <a href="../files/2da/2da_bgee/familiar.htm">FAMILIAR.2DA</a> must occur before starting a new game).
{% endcapture %}

{% include info.html %}

{% capture note %}
Max HP boost for summoning a familiar (and eventually loss when it dies) is &frac12; the familiar's Max HP (including any CON bonus) at the time of summoning.
{% endcapture %}

{% include info.html %}

{% capture note %}
The familiar restriction to <code>&lt;CHARNAME&gt;</code> is game-specific. IWDEE has no such restriction, but still only allows a single character to have a familiar at a time. It's unclear if it's a specific flag in the <a href="../file_formats/ie_formats/gam_v2.0.htm">GAM</a> file or if it's engine-side.
{% endcapture %}

{% include note.html %}
