---
n: 206
name: "Spell: Protection from Spell"
param1: "String Reference"
param2: "Irrelevant"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Gives the targeted creature(s) immunity from the spell specified in the <code>resource</code> key. The strref specified by the <code>String Reference</code> field is displayed when the spell is absorbed.

{% capture note %}
As of EE v2.6, <code>String Reference</code> is bound by
<details>
<pre>
// NOTE: strrefs [0xF00000&mdash;0xF00537] index into <a href="../files/2da/2da_bgee/enginest.htm">enginest.2da</a>, with the row being "strref - 0xF00000"

if (!pEffect->m_sourceRes.IsValid() || (pImmunitySpell->m_error != 0xf00074 && pImmunitySpell->m_error != 0xf00080))
{
	uint nNewFeedback = 0xffffffff;
	if (pImmunitySpell->m_error == 0xf00074) {
		nNewFeedback = 0xf00073;
	}
	pImmunitySpell->m_error = nNewFeedback;
}
</pre>
</details>
Basically, <code>String Reference</code> has to be <code>0xF00074</code> (<code><a href="../files/2da/2da_bgee/enginest.htm#116">STRREF_FEEDBACK_EVADE_RESOURCE</a></code>) or <code>0xF00080</code> (<code><a href="../files/2da/2da_bgee/enginest.htm#128">STRREF_FEEDBACK_IMMUNE_RESOURCE</a></code>) for the engine to display it.
<br><br>

<b><u>NOTE:</u></b> the engine only allows <code>0xF00074</code> / <code>0xF00080</code> &mdash; it doesn't care that <code><a href="../files/2da/2da_bgee/enginest.htm#128">STRREF_FEEDBACK_IMMUNE_RESOURCE</a></code> (<code>99389</code> on BG2:EE) is what <code>0xF00080</code> eventually resolves to, it's not <code>0xF00080</code>. <a href="#op206">opcode #206</a>'s <code>String Reference</code> should look like this in <a href="https://github.com/Argent77/NearInfinity">Near Infinity</a> (right click ⇒ Edit as hex number):
<details>
	<img src="../images/op206 string reference.png" alt="op206_string_reference">
</details>
{% endcapture %}

{% include bug.html %}

{% capture note %}
At least in EEs, this opcode can block <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> files too.<br/>
In order to do so, both the <code>Resource</code> field of <a href="#op206">opcode #206</a> and the <code><a href="../file_formats/ie_formats/eff_v2.htm#effv2_Body_0x94">Parent Resource</a></code> field of the EFF file must be the same string (max. 8 character long); moreover, you must set the <code><a href="../file_formats/ie_formats/eff_v2.htm#effv2_Body_0x90">Resource Type</a></code> field of the EFF file to <code><a href="../file_formats/ie_formats/eff_v2.htm#effv2_Body_0x90_1">Spell</a></code>.
{% endcapture %}

{% include info.html %}
