---
n: 233
name: "Stat: Proficiency Modifier"
param1: "Amount"
param2: "Type"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Sets the weapon proficiency points for the weapon type specified in the <code>Type</code> field, to the value specified by the <code>Amount</code> field, for the targeted creature(s).
<br/><br/>

<table border="1" width="98%">
	<colgroup>
		<col width="10%" />
		<col width="10%" />
		<col width="*" />
	</colgroup>
	<thead>
		<tr>
			<th><code>Type</code> value</th>
			<th>BG2</th>
			<th>BG:EE / IWD:EE</th>
			<th>BG2:EE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>89</td>
			<td>PROFICIENCYBASTARDSWORD</td>
			<td>PROFICIENCYBASTARDSWORD</td>
			<td>PROFICIENCYBASTARDSWORD</td>
		</tr>
		<tr>
			<td>90</td>
			<td>PROFICIENCYLONGSWORD</td>
			<td>PROFICIENCYLONGSWORD</td>
			<td>PROFICIENCYLONGSWORD</td>
		</tr>
		<tr>
			<td>91</td>
			<td>PROFICIENCYSHORTSWORD</td>
			<td>PROFICIENCYSHORTSWORD</td>
			<td>PROFICIENCYSHORTSWORD</td>
		</tr>
		<tr>
			<td>92</td>
			<td>PROFICIENCYAXE</td>
			<td>PROFICIENCYAXE</td>
			<td>PROFICIENCYAXE</td>
		</tr>
		<tr>
			<td>93</td>
			<td>PROFICIENCYTWOHANDEDSWORD</td>
			<td>PROFICIENCYTWOHANDEDSWORD</td>
			<td>PROFICIENCYTWOHANDEDSWORD</td>
		</tr>
		<tr>
			<td>94</td>
			<td>PROFICIENCYKATANA</td>
			<td>PROFICIENCYKATANA</td>
			<td>PROFICIENCYKATANA</td>
		</tr>
		<tr>
			<td>95</td>
			<td>PROFICIENCYSCIMITARWAKISASHININJATO</td>
			<td>PROFICIENCYSCIMITARWAKISASHININJATO</td>
			<td>PROFICIENCYSCIMITARWAKISASHININJATO</td>
		</tr>
		<tr>
			<td>96</td>
			<td>PROFICIENCYDAGGER</td>
			<td>PROFICIENCYDAGGER</td>
			<td>PROFICIENCYDAGGER</td>
		</tr>
		<tr>
			<td>97</td>
			<td>PROFICIENCYWARHAMMER</td>
			<td>PROFICIENCYWARHAMMER</td>
			<td>PROFICIENCYWARHAMMER</td>
		</tr>
		<tr>
			<td>98</td>
			<td>PROFICIENCYSPEAR</td>
			<td>PROFICIENCYSPEAR</td>
			<td>PROFICIENCYSPEAR</td>
		</tr>
		<tr>
			<td>99</td>
			<td>PROFICIENCYHALBERD</td>
			<td>PROFICIENCYHALBERD</td>
			<td>PROFICIENCYHALBERD</td>
		</tr>
		<tr>
			<td>100</td>
			<td>PROFICIENCYFLAILMORNINGSTAR</td>
			<td>PROFICIENCYFLAILMORNINGSTAR</td>
			<td>PROFICIENCYFLAILMORNINGSTAR</td>
		</tr>
		<tr>
			<td>101</td>
			<td>PROFICIENCYMACE</td>
			<td>PROFICIENCYMACE</td>
			<td>PROFICIENCYMACE</td>
		</tr>
		<tr>
			<td>102</td>
			<td>PROFICIENCYQUARTERSTAFF</td>
			<td>PROFICIENCYQUARTERSTAFF</td>
			<td>PROFICIENCYQUARTERSTAFF</td>
		</tr>
		<tr>
			<td>103</td>
			<td>PROFICIENCYCROSSBOW</td>
			<td>PROFICIENCYCROSSBOW</td>
			<td>PROFICIENCYCROSSBOW</td>
		</tr>
		<tr>
			<td>104</td>
			<td>PROFICIENCYLONGBOW</td>
			<td>PROFICIENCYLONGBOW</td>
			<td>PROFICIENCYLONGBOW</td>
		</tr>
		<tr>
			<td>105</td>
			<td>PROFICIENCYSHORTBOW</td>
			<td>PROFICIENCYSHORTBOW</td>
			<td>PROFICIENCYSHORTBOW</td>
		</tr>
		<tr>
			<td>106</td>
			<td>PROFICIENCYDART</td>
			<td>PROFICIENCYDART</td>
			<td>PROFICIENCYDART</td>
		</tr>
		<tr>
			<td>107</td>
			<td>PROFICIENCYSLING</td>
			<td>PROFICIENCYSLING</td>
			<td>PROFICIENCYSLING</td>
		</tr>
		<tr>
			<td>108</td>
			<td>PROFICIENCYBLACKJACK</td>
			<td>PROFICIENCYBLACKJACK</td>
			<td>PROFICIENCYBLACKJACK</td>
		</tr>
		<tr>
			<td>109</td>
			<td>PROFICIENCYGUN</td>
			<td>WEAPON_ENCHANTMENT<small><sup>*</sup></small></td>
			<td>CLERIC_HALLOW<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>110</td>
			<td>PROFICIENCYMARTIALARTS</td>
			<td>CLERIC_ARMOR_OF_FAITH<small><sup>*</sup></small></td>
			<td>CLERIC_ARMOR_OF_FAITH<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>111</td>
			<td>PROFICIENCY2HANDED</td>
			<td>PROFICIENCY2HANDED</td>
			<td>PROFICIENCY2HANDED</td>
		</tr>
		<tr>
			<td>112</td>
			<td>PROFICIENCYSWORDANDSHIELD</td>
			<td>PROFICIENCYSWORDANDSHIELD</td>
			<td>PROFICIENCYSWORDANDSHIELD</td>
		</tr>
		<tr>
			<td>113</td>
			<td>PROFICIENCYSINGLEWEAPON</td>
			<td>PROFICIENCYSINGLEWEAPON</td>
			<td>PROFICIENCYSINGLEWEAPON</td>
		</tr>
		<tr>
			<td>114</td>
			<td>PROFICIENCY2WEAPON</td>
			<td>PROFICIENCY2WEAPON</td>
			<td>PROFICIENCY2WEAPON</td>
		</tr>
		<tr>
			<td>115</td>
			<td>EXTRAPROFICIENCY1</td>
			<td>PROFICIENCYCLUB</td>
			<td>PROFICIENCYCLUB</td>
		</tr>
		<tr>
			<td>116</td>
			<td>EXTRAPROFICIENCY2</td>
			<td>WIZARD_SPELL_DEFLECTION<small><sup>*</sup></small></td>
			<td>WIZARD_SPELL_DEFLECTION<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>117</td>
			<td>EXTRAPROFICIENCY3</td>
			<td>PROTECTION_FROM_EVIL<small><sup>*</sup></small></td>
			<td>PROTECTION_FROM_EVIL<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>118</td>
			<td>EXTRAPROFICIENCY4</td>
			<td>TRUE_SIGHT<small><sup>*</sup></small></td>
			<td>TRUE_SIGHT<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>119</td>
			<td>EXTRAPROFICIENCY5</td>
			<td>CLERIC_CHAOTIC_COMMANDS<small><sup>*</sup></small></td>
			<td>CLERIC_CHAOTIC_COMMANDS<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>120</td>
			<td>EXTRAPROFICIENCY6</td>
			<td>CLERIC_INSECT_PLAGUE<small><sup>*</sup></small></td>
			<td>CLERIC_INSECT_PLAGUE<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>121</td>
			<td>EXTRAPROFICIENCY7</td>
			<td>CLERIC_BLADE_BARRIER<small><sup>*</sup></small></td>
			<td>CLERIC_BLADE_BARRIER<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>122</td>
			<td>EXTRAPROFICIENCY8</td>
			<td>CLERIC_PHYSICAL_MIRROR<small><sup>*</sup></small></td>
			<td>CLERIC_PHYSICAL_MIRROR<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>123</td>
			<td>EXTRAPROFICIENCY9</td>
			<td>CLERIC_SHIELD_OF_THE_ARCHONS<small><sup>*</sup></small></td>
			<td>CLERIC_SHIELD_OF_THE_ARCHONS<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>124</td>
			<td>EXTRAPROFICIENCY10</td>
			<td>CLERIC_REGENERATION<small><sup>*</sup></small></td>
			<td>CLERIC_REGENERATION<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>125</td>
			<td>EXTRAPROFICIENCY11</td>
			<td>WIZARD_FIRE_SHIELD<small><sup>*</sup></small></td>
			<td>WIZARD_FIRE_SHIELD<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>126</td>
			<td>EXTRAPROFICIENCY12</td>
			<td>WIZARD_PROTECTION_FROM_MAGIC_ENERGY<small><sup>*</sup></small></td>
			<td>WIZARD_PROTECTION_FROM_MAGIC_ENERGY<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>127</td>
			<td>EXTRAPROFICIENCY13</td>
			<td>WIZARD_MISLEAD<small><sup>*</sup></small></td>
			<td>WIZARD_MISLEAD<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>128</td>
			<td>EXTRAPROFICIENCY14</td>
			<td>WIZARD_PROTECTION_FROM_MAGIC_WEAPONS<small><sup>*</sup></small></td>
			<td>WIZARD_PROTECTION_FROM_MAGIC_WEAPONS<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>129</td>
			<td>EXTRAPROFICIENCY15</td>
			<td>WIZARD_SPELL_TURNING<small><sup>*</sup></small></td>
			<td>WIZARD_SPELL_TURNING<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>130</td>
			<td>EXTRAPROFICIENCY16</td>
			<td>WIZARD_PROTECTION_FROM_THE_ELEMENTS<small><sup>*</sup></small></td>
			<td>WIZARD_PROTECTION_FROM_THE_ELEMENTS<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>131</td>
			<td>EXTRAPROFICIENCY17</td>
			<td>CLERIC_FREE_ACTION<small><sup>*</sup></small></td>
			<td>CLERIC_FREE_ACTION<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>132</td>
			<td>EXTRAPROFICIENCY18</td>
			<td>WIZARD_KHELBENS_WARDING_WHIP<small><sup>*</sup></small></td>
			<td>WIZARD_KHELBENS_WARDING_WHIP<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>133</td>
			<td>EXTRAPROFICIENCY19</td>
			<td>CLERIC_DEFENSIVE_HARMONY<small><sup>*</sup></small></td>
			<td>CLERIC_DEFENSIVE_HARMONY<small><sup>*</sup></small></td>
		</tr>
		<tr>
			<td>134</td>
			<td>EXTRAPROFICIENCY20</td>
			<td>EXTRAPROFICIENCY20</td>
			<td>EXTRAPROFICIENCY20</td>
		</tr>
	</tbody>
</table>

{% capture note %}
<ul>
	<li>Every <code>STAT</code> from <code>89</code> to <code>134</code> is a weapon proficiency, even the weapon styles.</li>
	<li>
		Every one of those <code>STAT</code>s can be set as a weapon's proficiency and it will use that stat's value for proficiency bonuses.
		<ul>
			<li>This includes <code>STAT</code>s like <code>CLERIC_ARMOR_OF_FAITH</code>, even though they're used for an alternative purpose.</li>
		</ul>
	</li>
	<li>The only thing stopping them from showing up during chargen/level-up proficiency selection is their entries (or lack there of) in <a href="../files/2da/2da_bgee/weapprof.htm">WEAPPROF.2DA</a>. A <code>NAME_REF</code> column of <code>4294967296 (-1)</code> is hardcoded to hide the proficiency during chargen/level-up. Aside from that it just needs a non-zero maximum for the current class/kit.</li>
</ul>
{% endcapture %}

{% include info.html %}

{% capture note %}
In EE games, <code>Type 99 – PROFICIENCYHALBERD</code> currently cannot use the <code>Increment</code> option without crashing (bug).
{% endcapture %}

{% include warning.html %}

{% capture note %}
In EE games, the <code>Special</code> field must currently be <code>0</code>, due to an incomplete (bugged) feature added by Beamdog (it wasn't used before anyway, so there was no point in it not being <code>0</code>).
{% endcapture %}

{% include important.html %}

{% capture note %}
The Proficiency Modifier effect cannot increment or decrement proficiency points, it can only SET them.
<br/><br/>
This is however not true for EEs, where <code>param#2 ('Type')</code> is split into two word subfields. By setting the second (high) one to <code>1 (Increment)</code>, it's possible to increment/decrement the proficiency points of the targeted creature(s) by the value specified by the <code>Amount</code> parameter.
{% endcapture %}

{% include note.html %}
