---
n: 232
name: "Spell Effect: Cast Spell on Condition"
param1: "Target"
param2: "Condition"
special: "Extra"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Casts the spell specified by the <code>resource</code> field on the target specified by the <code>Target</code> field, when the condition from the <code>Condition</code> field is true. The conditions are akin to various triggers.
<br/>Known values for <code>Target</code> are:
<ul>
	<li>0 &longleftarrow; Myself</li>
	<li>1 &longleftarrow; LastHitter</li>
	<li>2 &longleftarrow; NearestEnemyOf</li>
	<li>3 &longleftarrow; Nearest</li>
</ul>

<br/><br/>Known values for <code>Condition</code> are:
<ul>
	<li>0 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x0020">HitBy([ANYONE])</a> – Checked every time</li>
	<li>1 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x401C">See(NearestEnemyOf(Myself))</a> – Checked once per round</li>
	<li>2 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x402D">HPPercentLT(Myself,50)</a> – Checked once per round</li>
	<li>3 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x402D">HPPercentLT(Myself,25)</a> – Checked once per round</li>
	<li>4 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x402D">HPPercentLT(Myself,10)</a> – Checked once per round</li>
	<li>5 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x4037">StateCheck(Myself,STATE_HELPLESS)</a> f.i. unconscious – Checked once per round</li>
	<li>6 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x4037">StateCheck(Myself,STATE_POISONED)</a> – Checked once per round</li>
	<li>7 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x0002">AttackedBy([ANYONE])</a> – Checked every time</li>
	<li>8 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x4018">Range([ANYONE],4)</a> – Checked once per round</li>
	<li>9 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x4018">Range([ANYONE],10)</a> – Checked once per round</li>
	<li>10 &longrightarrow; Unknown – Checked once per round</li>
	<li>11 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x00CC">TookDamage()</a> – Checked every time</li>
	<li>12 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x004B">Killed([ANYONE])</a> – Checked every time</li>
	<li>13 &longrightarrow; Time of Day is <code>Extra</code> – Checked once per round</li>
	<li>14 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x4018">Range([ANYONE],<code>Extra</code>)</a> – Checked once per round</li>
	<li>15 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x4037">StateCheck([ANYONE],<code>Extra</code>)</a> – Checked once per round</li>
	<li>16 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x004A">Died(Myself)</a></li>
	<li>17 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x004A">Died([ANYONE])</a> – Checked every time</li>
	<li>18 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x0008">TurnedBy([ANYONE])</a> – Checked every time</li>
	<li>19 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x4012">HPLT(Myself,<code>Extra</code>)</a> – Checked once per round</li>
	<li>20 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x402D">HPPercentLT(Myself,<code>Extra</code>)</a> – Checked once per round</li>
	<li>21 &longrightarrow; <a href="../scripting/triggers/bgeetriggers.htm#0x40E2">CheckSpellState(Myself,<code>Extra</code>)</a> – Checked once per round</li>
</ul>

<br/><br/>The <code>Extra</code> field is used for the following <code>Target</code> values:
<ul>
	<li>13 &longrightarrow; Use value from <a href="../files/ids/bgee/timeoday.htm">TIMEODAY.IDS</a></li>
	<li>14 &longrightarrow; Range in feet</li>
	<li>15 &longrightarrow; Use value from <a href="../files/ids/bgee/state.htm">STATE.IDS</a></li>
	<li>19 &longrightarrow; Any numeric value</li>
	<li>20 &longrightarrow; Any numeric value</li>
	<li>21 &longrightarrow; Use value from <a href="../files/ids/bgee/splstate.htm">SPLSTATE.IDS</a></li>
</ul>

<br/><br/>For a <code>Condition</code> of <code>13</code>, the <code>Target</code> parameter must be <code>0</code>.
<br/><br/>

When used in an external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> file, <code>resource2</code> and <code>resource3</code> can also be specified – all spells will be cast when triggered.<br/><br/>

When used in an external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> file, known values for <code>Parameter3</code> are:
<ul>
	<li>0 &longrightarrow; Not a "real" contingency (Fire Shields, Globe of Blades, etc...)</li>
	<li>1 &longrightarrow; Real contingency (Maintains 'Contingency' portrait icon, displays feedback message <a href="../files/2da/2da_bgee/enginest.htm">ENGINEST</a>[246|STRREF_GUI_FEEDBACK_CONTINGENCY_TRIGGER] when triggered, and terminates this effect after first trigger. This value is always set when created by <a href="#op234">opcode #234</a>.</li>
</ul>

When used in an external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> file, <code>Parent Type (Source Type)</code> may be manually set to influence its behavior. Known values for <code>Parent Type</code> are:
<ul>
	<li>0 &longrightarrow; None – Allows further effects with a matching <code>Parent Resource</code> to affect the target.</li>
	<li>1 &longrightarrow; Spell – Any further effects with a matching <code>Parent Resource</code> will be blocked by the engine and string <a href="../files/2da/2da_bgee/enginest.htm">ENGINEST</a>[42|STRREF_ERROR_CAN_NOT_CAST_TWO_CONT] is returned to the combat log. Spells must therefore either have this as the last effect, or use it in an EFF through <a href="#op177">opcode #177</a>, specifying a <code>Parent Type</code> of <code>0</code> or <code>2</code>.</li>
	<li>2 &longrightarrow; Item – Allows further effects with a matching <code>Parent Resource</code> to affect the target.</li>
</ul>

{% capture note %}
If you need a condition which is always true, you could set <code>Condition</code> to <code>20</code> and <code>Extra</code> to <code>102</code> (<code>hp < 102%</code> will always be true; <code>102</code> is used because <code>Extra</code> must be even or the combat log will be flooded with feedback messages).
{% endcapture %}

{% include note.html %}

{% capture note %}
These triggers and objects are limited to their normal detection range: e.g., <code>Died([ANYONE])</code> won't see someone dying on the other side of the map.
{% endcapture %}

{% include note.html %}

{% capture note %}
Excluding the <code>Range()</code> checks, <a href="../files/ids/bgee/ea.htm#0">[ANYONE]</a> includes <code>Myself</code>.
{% endcapture %}

{% include note.html %}

{% capture note %}
The presence of this effect in any of a spell's ability headers will force any Wild Surge of that spell to use the 'Cast Normal' result.
{% endcapture %}

{% include note.html %}
