---
n: 232
name: "Spell Effect: Cast Spell on Condition"
param1: "Target"
param2: "Condition"
special: "Extra"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Casts the spell specified by the resource field on the target specified by the 'Target' field, when the condition from the 'Condition' field is true. The conditions are akin to various triggers.
<br/>Known values for 'Target' are:
<br/>0   Myself
<br/>1   LastHitter
<br/>2   NearestEnemyOf
<br/>3   Nearest
<br/><br/>Known values for 'Condition' are:
<br/>0   HitBy([ANYONE]) – Checked every time
<br/>1   See(NearestEnemyOf(Myself)) – Checked once per round
<br/>2   HPPercentLT(Myself, 50) – Checked once per round
<br/>3   HPPercentLT(Myself, 25) – Checked once per round
<br/>4   HPPercentLT(Myself, 10) – Checked once per round
<br/>5   StateCheck(Myself,STATE_HELPLESS) i.e. unconscious – Checked once per round
<br/>6   StateCheck(Myself,STATE_POISONED) i.e. poisoned – Checked once per round
<br/>7   AttackedBy([ANYONE]) – Checked every time
<br/>8   Range([ANYONE],4) – Checked once per round
<br/>9   Range([ANYONE],10) – Checked once per round
<br/>10  Unknown - every round
<br/>11  TookDamage() – Checked every time
<br/>12  Killed([ANYONE]) – Checked every time
<br/>13  Time of Day is 'Extra' – Checked once per round
<br/>14  Range([ANYONE],'Extra') – Checked once per round
<br/>15  StateCheck(Myself,'Extra') – Checked once per round
<br/>16  Died(Myself) – Checked every time
<br/>17  Died([ANYONE]) – Checked every time
<br/>18  TurnedBy([ANYONE]) – Checked every time
<br/>19  HPLT(Myself,'Extra') – Checked once per round
<br/>20  HPPercentLT(Myself,'Extra') – Checked once per round
<br/>21  CheckSpellState(Myself,'Extra') – Checked once per round
<br/><br/>The 'Extra' field is used for the following 'Target' values:
<br/>13: Use value from <a href="../files/ids/bgee/timeoday.htm">TIMEODAY.IDS</a>
<br/>14: Range in feet
<br/>15: Use value from <a href="../files/ids/bgee/state.htm">STATE.IDS</a>
<br/>19: Any numeric value
<br/>20: Any numeric value
<br/>21: Use value from <a href="../files/ids/bgee/splstate.htm">SPLSTATE.IDS</a>
<br/><br/>For a 'Condition' of 13, the 'Target' parameter must be 0.
<br/><br/>

When used in an external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> file, "resource2" and "resource3" can also be specified – all spells will be cast when triggered.<br/><br/>

When used in an external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> file, known values for 'Parameter3' are:
<ul>
	<li>0 => Not a "real" contingency (Fire Shields, Globe of Blades, etc...)</li>
	<li>1 => Real contingency (Maintains 'Contingency' portrait icon, displays feedback message <a href="../files/2da/2da_bgee/enginest.htm">ENGINEST</a>[246|STRREF_GUI_FEEDBACK_CONTINGENCY_TRIGGER] when triggered, and terminates this effect after first trigger. This value is always set when created by <a href="#op234">opcode #234</a>.</li>
</ul>

When used in an external <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> file, 'Parent Type' (Source Type) may be manually set to influence its behavior. Known values for 'Parent Type' are:
<ul>
	<li>0 = None – Allows further effects with a matching "Parent Resource" to affect the target.</li>
	<li>1 = Spell – Any further effects with a matching "Parent Resource" will be blocked by the engine and string <a href="../files/2da/2da_bgee/enginest.htm">ENGINEST</a>[42|STRREF_ERROR_CAN_NOT_CAST_TWO_CONT] is returned to the combat log. Spells must therefore either have this as the last effect, or use it in an EFF through <a href="#op177">opcode #177</a>, specifying a 'Parent Type' of 0 or 2.</li>
	<li>2 = Item – Allows further effects with a matching "Parent Resource" to affect the target.</li>
</ul>

{% capture note %}
If you need a condition which is always true, you could set 'Condition' to 20 and 'Extra' to 102 ("hp < 102%" will always be true; 102 is used because 'value' must be even or the combat log will be flooded with feedback messages).
{% endcapture %}

{% include note.html %}

{% capture note %}
These triggers and objects are limited to their normal detection range: e.g., "Died([ANYONE])" won't see someone dying on the other side of the map.
{% endcapture %}

{% include note.html %}

{% capture note %}
Excluding the "Range()" checks, [ANYONE] includes "Myself".
{% endcapture %}

{% include note.html %}

{% capture note %}
The presence of this effect in any of a spell's ability headers will force any Wild Surge of that spell to use the 'Cast Normal' result.
{% endcapture %}

{% include note.html %}
