---
n: 230
name: "Removal: Remove One Secondary Type"
param1: "Max Level"
param2: "Secondary Type"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Removes all effects with a matching <code>Secondary Type</code>, with a non-zero <code>Power Level</code> up to <code>Max Level</code>, of the first two valid <code>Parent Resources</code> from the targeted creature(s).
<br/>Known values for <code>Secondary Type</code> are:
<ul>
	<li>0 &longrightarrow; None</li>
	<li>1 &longrightarrow; SPELLPROTECTIONS</li>
	<li>2 &longrightarrow; SPECIFICPROTECTIONS</li>
	<li>3 &longrightarrow; ILLUSIONARYPROTECTIONS</li>
	<li>4 &longrightarrow; MAGICATTACK</li>
	<li>5 &longrightarrow; DIVINATIONATTACK</li>
	<li>6 &longrightarrow; CONJURATION</li>
	<li>7 &longrightarrow; COMBATPROTECTIONS</li>
	<li>8 &longrightarrow; CONTINGENCY</li>
	<li>9 &longrightarrow; BATTLEGROUND</li>
	<li>10 &longrightarrow; OFFENSIVEDAMAGE</li>
	<li>11 &longrightarrow; DISABLING</li>
	<li>12 &longrightarrow; COMBINATION</li>
	<li>13 &longrightarrow; NON-COMBAT</li>
	<li>14 &longrightarrow; DORNS_SWORD</li>
</ul>

The first valid <code>Parent Resource</code> has a matching effect with a <code>Timing Mode</code> other than <code>(2/5/8)</code>, all such matching effects of this <code>Parent Resource</code> will be removed.
<br/><br/>

The second valid <code>Parent Resource</code> has a matching effect with a <code>Timing Mode (2/5/8)</code>, all such matching effects of this <code>Parent Resource</code> will be removed.
<br/><br/>

If any effects are removed, the String Reference corresponding to the <code>Secondary Type</code> from <a href="../files/2da/2da_bgee/msectype.htm">MSECTYPE.2DA</a> is returned to the combat log.

{% capture note %}
Basically it removes one equipped resource effect list and one non-equipped resource effect list, except that equipped effects aren't removable while its item is equipped, so this behavior is not common.
The only way to really see this behavior (removing two separate resources) is to have a spell or item ability that only applies equipped effects.
{% endcapture %}

{% include info.html %}

{% capture note %}
Effects with a <code>Power Level</code> of <code>0</code> are completely ignored by this opcode.
{% endcapture %}

{% include note.html %}
