---
n: 249
opname: "Item: Set Ranged Effect"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
pstee: 1
---
{% include relurl.html %}

Sets the effect specified by the <a href="{{ '/file_formats/ie_formats/eff_v1.htm#effv1_Header_Resource' | prepend: relurl }}"><code>resource</code></a> key as a ranged effect.
<br/>The specified effect will be applied to the target of each successful ranged attack.
<br/>The <a href="{{ '/file_formats/ie_formats/eff_v1.htm#effv1_Header_Resource' | prepend: relurl }}"><code>resource</code></a> key references a <a href="{{ '/file_formats/ie_formats/eff_v2.htm' | prepend: relurl }}"><code>EFF</code></a> not a <a href="{{ '/file_formats/ie_formats/spl_v1.htm' | prepend: relurl }}"><code>SPL</code></a>.

{% capture note %}
<a href="{{ '/file_formats/ie_formats/eff_v2.htm' | prepend: relurl }}"><code>EFF</code></a> files applied by this opcode can be blocked by <a href="#op101">opcode #101</a>.
{% endcapture %}
{% include important.html %}

{% capture note %}
At least in EEs, this opcode applies its effect after both the base weapon damage and the on-hit effects of the weapon.
{% endcapture %}

{% include note.html %}
