---
n: 247
name: "Beltyn's Burning Blood"
param1: "Strikes Number"
param2: "Irrelevant"
bg1: 0
bg2: 0
bgee: 0
iwd1: 1
iwd2: 1
pst: 0
---
Applies the beltyns burning blood effect to the targeted creature(s).
<br/>The affected creature(s) go bersek for the number of attack specified by the 'Strike Number' field, on a failed saving throw vs spells.

{% capture note %}
In IWD1 (with no expansions) param1 acts as a bonus to damage, rather than a strike number.
{% endcapture %}

{% include note.html %}

{% capture note %}
At least in IWD1, this effect can lead to a crash upon save game loading, if a creature is killed due to this effect.
{% endcapture %}

{% include warning.html %}
