---
n: 247
name: "Spell Effect: Attack Nearest Creature"
param1: "Irrelevant"
param2: "Constant Value"
bg1: 0
bg2: 1
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Applies the attack nearest creature effect on the targeted creature(s).
<br/>This effect causes the targeted creature(s) to attack the nearest creature. The affected creature becomes berserk and its AI scripts stop running. Grants a +2 bonus to hit and damage with all weapons. Unlike opcode #3, this one can affect enemies as well.
<br/>
<br/>This effect sets stat <a href="../files/ids/bgee/stats.htm#144">BERSERKSTAGE2</a> to param #2. It also sets the <a href="../files/ids/bgee/state.htm#BIT1">STATE_BERSERK</a> flag.

{% capture note %}
The 'Constant Value' parameter should be non-zero.
{% endcapture %}

{% include important.html %}

{% capture note %}
At least in EEs, the only difference between opcodes <a href="#op3">#3</a> and #247, is that #247 will not force the creature(s) to use melee weapons, and is not removed by <a href="#op4">opcode #4</a> (Cure Berserk).
{% endcapture %}

{% include note.html %}
