---
n: 272
name: "Spell: Apply Repeating EFF"
param1: "Frequency"
param2: "Type"
bg1: 0
bg2: 1
bgee: 0
iwd1: 0
iwd2: 0
pst: 0
---
Applies the eff specified by the resource key to the targeted creature(s) as specified by the 'Type' field. 'Type' mode 4 makes use of Parameter 3, and so can only be used in external eff files.
<br/>Known values for 'Type' are:
<br/>0   Apply once per second
<br/>1   Crash
<br/>2   Apply 'Frequency' times per second
<br/>3   Apply once per 'Frequency' seconds
<br/>4   Apply Param 3 times per 'Frequency' rounds
<br/>5+  Crash

{% capture note %}
The timings are relative to the movement rate of the affected creature(s). Effects 40 (Slow) and 78 (Disease) doubles the timing rate, effect 16 (Haste) halves the timing rate.
{% endcapture %}

{% include info.html %}

{% capture note %}
If two or more effects of this type affect a creature, only the shortest duration effect will occur.
{% endcapture %}

{% include note.html %}
