---
n: 283
name: "Use EFF File (Cursed)"
param1: "IDS Entry"
param2: "IDS File"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
{% include relurl.html %}

Applies the <a href="{{ '/file_formats/ie_formats/eff_v2.htm' | prepend: relurl }}"><code>EFF</code></a> file specified by the <a href="{{ '/file_formats/ie_formats/eff_v1.htm#effv1_Header_Resource' | prepend: relurl }}"><code>resource</code></a> key to the targeted creature(s), if the targeted creature(s) match the <code>IDS Entry</code> in the specified <code>IDS File</code>. The <a href="{{ '/file_formats/ie_formats/eff_v2.htm' | prepend: relurl }}"><code>EFF</code></a> can be removed via the <a href="#op26">Remove Curse opcode</a> (in addition to other standard methods).
<br/>Known values for <code>IDS File</code> are:
<ul>
	<li>2 &longrightarrow; <a href="{{ '/files/ids/bgee/ea.htm' | prepend: relurl }}"><code>EA.IDS</code></a></li>
	<li>3 &longrightarrow; <a href="{{ '/files/ids/bgee/general.htm' | prepend: relurl }}"><code>GENERAL.IDS</code></a></li>
	<li>4 &longrightarrow; <a href="{{ '/files/ids/bgee/race.htm' | prepend: relurl }}"><code>RACE.IDS</code></a></li>
	<li>5 &longrightarrow; <a href="{{ '/files/ids/bgee/class.htm' | prepend: relurl }}"><code>CLASS.IDS</code></a></li>
	<li>6 &longrightarrow; <a href="{{ '/files/ids/bgee/specific.htm' | prepend: relurl }}"><code>SPECIFIC.IDS</code></a></li>
	<li>7 &longrightarrow; <a href="{{ '/files/ids/bgee/gender.htm' | prepend: relurl }}"><code>GENDER.IDS</code></a></li>
	<li>8 &longrightarrow; <a href="{{ '/files/ids/bgee/align.htm' | prepend: relurl }}"><code>ALIGN.IDS</code></a></li>
	<li>9 &longrightarrow; <a href="{{ '/files/ids/bgee/kit.htm' | prepend: relurl }}"><code>KIT.IDS</code></a></li>
</ul>

{% capture note %}
<a href="{{ '/file_formats/ie_formats/eff_v2.htm' | prepend: relurl }}"><code>EFF</code></a> files applied by this opcode bypass / ignore <a href="#op101">opcode #101</a>.
{% endcapture %}
{% include important.html %}