---
n: 284
name: "Spell Effect: Mace of Disruption"
param1: "Irrelevant"
param2: "Irrelevant"
bg1: 0
bg2: 0
bgee: 0
iwd1: 1
iwd2: 1
pst: 0
---
Applies the mace of disruption effect to the targeted creature(s).
<br/>Undead:
<br/>1-4 Hit Dice: 100% chance of instant death
<br/>5   Hit Dice: 95%  chance of instant death
<br/>6   Hit Dice: 80%  chance of instant death
<br/>7   Hit Dice: 65%  chance of instant death
<br/>8-9 Hit Dice: 50%  chance of instant death
<br/>10  Hit Dice: 35%  chance of instant death
<br/>11+ Hit Dice: 20%  chance of instant death
<br/>Outer Planar Creatures:
<br/>5% chance of instant death

{% capture note %}
Both parameters should be 0 (zero).
{% endcapture %}

{% include important.html %}

{% capture note %}
This effect may also include double damage against Undead and Outer Planar creatures.
{% endcapture %}

{% include info.html %}
