---
n: 319
name: "Usability: Item Usability"
power: "Usability behavior"
param1: "IDS Entry"
param2: "IDS File"
special: "Description note"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
When <code>Power</code> is set to <code>1</code>, this opcode restricts the item to creature(s) matching the object identifiers. When <code>Power</code> is set to <code>0</code>, creature(s) matching the object identifiers cannot use the item. The string to display when an invalid creature attempts to use the item is held in <code>0x2C</code>.
<br/>Known values for <code>IDS File</code> are:
<ul>
	<li>2 &longrightarrow; <a href="../files/ids/bgee/ea.htm">EA.IDS</a></li>
	<li>3 &longrightarrow; <a href="../files/ids/bgee/general.htm">GENERAL.IDS</a></li>
	<li>4 &longrightarrow; <a href="../files/ids/bgee/race.htm">RACE.IDS</a></li>
	<li>5 &longrightarrow; <a href="../files/ids/bgee/class.htm">CLASS.IDS</a></li>
	<li>6 &longrightarrow; <a href="../files/ids/bgee/specific.htm">SPECIFIC.IDS</a></li>
	<li>7 &longrightarrow; <a href="../files/ids/bgee/gender.htm">GENDER.IDS</a></li>
	<li>8 &longrightarrow; <a href="../files/ids/bgee/align.htm">ALIGN.IDS</a></li>
	<li>9 &longrightarrow; <a href="../files/ids/bgee/kit.htm">KIT.IDS</a></li>
	<li>10 &longrightarrow; Actor's name</li>
	<li>11 &longrightarrow; Actor's scripting name (8 maximum in <code>resource</code> field)</li>
</ul>

<br/>The message defined in <code>Description note</code> will be displayed whenever this opcode is triggered.

{% capture note %}
<ul>
	<li>If <code>IDS File</code> is set to <code>10</code> and the strref held in <code>parameter1</code> is set to <code>"-1" (None)</code>, then you're targeting player-created characters (e.g., "CHARNAME").</li>
	<li>If <code>IDS File</code> is set to <code>11</code> and no death variable is specified in the resource field, then you're targeting player-created characters (e.g., "CHARNAME").</li>
</ul>
{% endcapture %}

{% include info.html %}

{% capture note %}
This opcode must be attached to the item itself, and does not work when applied in <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> files (such as through <a href="op177.html">opcode 177</a>).
{% endcapture %}

{% include important.html %}