---
n: 310
name: "Protection: from Timestop"
param1: "Irrelevant"
param2: "Stat Value"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
The targeted creature(s) becomes immune to time-stop.
<br/><br/>The effect modifies <a href="../files/ids/bgee/stats.htm#197">STAT #197</a> to 'param2'.

{% capture note %}
The 'Stat Value' parameter can take any value.<br/>
If you set it to 0, you will disable the effect (for its duration). For instance, a Time Stop spell that applies (to everyone) op#310 with 'Stat Value' = 0 for 18s would trap those such as Demogorgon in the time stop.
{% endcapture %}

{% include note.html %}

{% capture note %}
Creatures are naturally immune to their own Time Stop effects, without needing this effect or setting <a href="../files/ids/bgee/stats.htm#197">STAT #197</a>.
{% endcapture %}

{% include note.html %}
