---
n: 326
opname: "Apply Effects List"
param1: "Value"
param2: "Stat Type"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
pstee: 1
---
The creature type specified by the <code>Stat Type</code> field will be affected by the spell in the <code>Resource</code> field. See <a href="#op324">opcode #324</a> for more information.

<p>
  The spell specified by the <code>resource</code> field is cast at the same level as the current effect, regardless of <code><a href="../file_formats/ie_formats/spl_v1.htm#splv1_Header_0x1C">Spell type</a></code>.
</p>

<p>
  Unlike <a href="#op146">opcode #146</a>, when targeting <code>Self</code> or <code>Original Caster</code>, the <code>resource</code> is still cast on the ability target, not the caster.
</p>

<p>
  For the purpose of dispelling effects only, the opcode target (not necessarily the caster) determines the caster level for effects in its <code>resource</code>. It also determines the "Caster location" saved to the V2 effect on creatures. It doesn't transfer full ownership though – the caster is still credited for damage.
</p>

<p>
  If the <code>resource</code> uses projectile <code>#0 (default)</code>:
  <ul>
    <li>The <code>resource</code> will ignore its <code>projectile</code> field, defaulting to use projectile <code>#1|None</code> for all effects.</li>
    <li>Effects in the <code>resource</code> that target <code>Self</code>, <code>Projectile Target</code>, or <code>Original Caster</code> will all affect the target of this effect.</li>
    <li>If this effect is reflected/turned, the target of effects in the <code>resource</code> is reflected.</li>
  </ul>
  Otherwise:
  <ul>
    <li>Effects in the <code>resource</code> that target <code>Self</code> will affect the target of this effect, not the caster.</li>
    <li>If this effect is reflected/turned, only effects in the <code>resource</code> targeting <code>Original Caster</code> will be affected, now affecting the target.</li>
  </ul>
</p>

{% capture note %}
If this effect is applied through <a href="#op177">opcode #177</a>, the spell specified by the <code>resource</code> key is cast at the level specified at offset <code><a href="../file_formats/ie_formats/eff_v2.htm#effv2_Body_0xC8">0xc8</a></code> of the <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a>.
{% endcapture %}

{% include note.html %}

{% capture note %}
<ul>
  <li>Unlike <a href="#op146">opcode #146</a><code><small><sup>*</sup></small>p2=1</code>, when this opcode gets reflected (<a href="#op197">opcode #197</a>, <a href="#op198">opcode #198</a>, <a href="#op199">opcode #199</a>, <a href="#op202">opcode #202</a>, <a href="#op203">opcode #203</a> and <a href="#op207">opcode #207</a>), the spell specified by the <code>resource</code> key is cast at the caster's Casting Level, and it will also affect the original target (as if it wasn't reflected).</li>
  <li>When this opcode is applied through <a href="#op177">opcode #177</a> and gets reflected (<a href="#op197">opcode #197</a>, <a href="#op198">opcode #198</a>, <a href="#op199">opcode #199</a>, <a href="#op202">opcode #202</a>, <a href="#op203">opcode #203</a> and <a href="#op207">opcode #207</a>), the spell specified by the <code>resource</code> key is cast at the level specified at offset <code><a href="../file_formats/ie_formats/eff_v2.htm#effv2_Body_0xC8">0xc8</a></code> of the <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a>, and it will also affect the original target (as if it wasn't reflected).</li>
</ul>
{% endcapture %}

{% include important.html %}

{% capture note %}
<ul>
  <li>
    Effects in the <code>resource</code> will also bypass Magic Resistance, of every target, as if the caster targeted themselves, regardless of who they target with the spell or this effect.
    <ul>
      <li>Setting the <code><a href="../file_formats/ie_formats/pro_v1.htm#Behavior_BIT4">Ignore Center</a></code> bit in the subspell's projectile will force its effects to check Magic Resistance on every target, even if the caster did target themselves. Though as its primary function is to cause the projectile to ignore the caster (not "center"), it still won't affect them if it's <code><a href="../file_formats/ie_formats/pro_v1.htm#0x8_3">area-effect</a></code>.</li>
    </ul>
  </li>
</ul>
{% endcapture %}

{% include note.html %}

{% capture note %}
The only meaningful <code>Timing Mode</code>s for this opcode are: <code>0|Instant/Limited</code> with <code>duration = 0</code>, <code>1|Instant/Permanent</code>, or <code>4|Delayed/Permanent</code>.
{% endcapture %}

{% include note.html %}
