---
n: 321
name: "Removal: Effects specified by Resource"
param1: "Irrelevant"
param2: "Type"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Removes effects from the resource specified by the resouce key, in the style specified by the <code>Type</code> field. Both spell and item resources are considered.
<br/>Known values for <code>Type</code> are:
<ul>
	<li>0 &longrightarrow; Default</li>
	<li>1 &longrightarrow; Equipped effects list only</li>
	<li>2 &longrightarrow; Timed effects list only</li>
</ul>

{% capture note %}
It always needs to be the first effect for stacking prevention. <code>Timing Mode</code> should be either <code>Instant/Limited(0)</code> with <code>duration=0</code>, or <code>Instant/Permanent(1)</code>.
{% endcapture %}

{% include note.html %}

{% capture note %}
Leaving the <code>resource</code> field empty will remove any effect on the creature without a parent resource. Weapon proficiencies, HLA markers, stealth, turn undead (paladin's panic only) ...  Local variable effects are however safe.
{% endcapture %}

{% include warning.html %}
