---
n: 342
name: "Animation: Override Data"
param1: "Value"
param2: "Field"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Overrides the character animation's blood color, body heat flag or personal space.
<br/>Known values for <code>Field</code> are:
<ul>
	<li>1 &longrightarrow; Override body heat</li>
	<li>2 &longrightarrow; Override blood color</li>
	<li>4 &longrightarrow; Override personal space</li>
</ul>

{% capture note %}
<code>Value = 0</code> causes infinite melee/spell range, both for their attacks/spells and when others target them.
{% endcapture %}

{% include note.html %}

{% capture note %}
Does not alter selection circle size.
{% endcapture %}

{% include note.html %}