---
n: 363
name: "Modal state check"
param1: "Irrelevant"
param2: "Irrelevant"
special: "Modal State"
bg1: 0
bg2: 0
bgee: 1
iwd1: 0
iwd2: 0
pst: 0
---
Trying to move will break the current modal action, and breaking the modal action will remove this effect and any other effects applied by the same spell.<br />
The targeted creature must already be in the specified Modal State when this opcode is applied.
<br/><br/><code>Modal State</code> defines the modal state to check (see <a href="../files/ids/bgee/modal.htm">MODAL.IDS</a>).
<br/>

{% capture note %}
If <code>Modal State = 0</code>, then any modal state is eligible, but not <code>NONE</code>, it must be an actual Modal State.
{% endcapture %}

{% include note.html %}

{% capture note %}
When used in <a href="../file_formats/ie_formats/eff_v2.htm">EFF</a> files, <code>Parent Resource</code> field must be used to specify which resources effects will be removed (an empty field will remove effects applied by the engine, such as level-up proficiencies).
{% endcapture %}

{% include note.html %}