---
n: 375
opname: "Play BAM with effects"
param1: "Irrelevant"
param2: "Effect"
bg1: 0
bg2: 0
bgee: 0
iwd1: 0
iwd2: 0
pst: 0
pstee: 1
---
Set the resource key for the BAM file to apply to the creature. The <code>Effect</code> parameter sets the spell effect to apply to the creature:
<ul>
  <li>0 &longrightarrow; Cloak of Warding</li>
  <li>1 &longrightarrow; Shield</li>
  <li>2 &longrightarrow; Black Barbed Shield</li>
  <li>3 &longrightarrow; Pain Mirror</li>
  <li>4 &longrightarrow; Guardian Mantle</li>
  <li>5 &longrightarrow; <em>unused</em></li>
  <li>6 &longrightarrow; Enoll Eva's Duplication</li>
  <li>7 &longrightarrow; Armor</li>
  <li>8 &longrightarrow; Antimagic Shell</li>
  <li>9 &longrightarrow; <em>unused</em></li>
  <li>10 &longrightarrow; <em>unused</em></li>
  <li>11 &longrightarrow; Flame Walk</li>
  <li>12 &longrightarrow; Protection from Evil</li>
  <li>13 &longrightarrow; Conflagration</li>
  <li>14 &longrightarrow; Infernal Shield</li>
  <li>15 &longrightarrow; Submerge the Will</li>
  <li>16 &longrightarrow; Balance in All Things</li>
</ul>

{% capture note %}
Uses <a href="#op368">opcode 368</a> internally to control duration of the BAM playback.
{% endcapture %}

{% include note.html %}

{% capture note %}
This opcode mirrors functionality of <a href="pst.htm#op201">PST opcode 201</a>.
{% endcapture %}

{% include note.html %}
