---
title: "EFF file format"
---
    <div class="title_main">EFF file format</div>
    <br />
    <div class="fileHeader">Applies to:</div>
    <div class="indent1">BG1: TotS, BG2, BG2: ToB, IWD, IWD:HoW, IWD:TotL, BGEE</div><br />
    
    <div class="fileHeader">General Description</div>
    <div class="indent1">
      This file format describes an effect (opcode) and its parameters. The format is an extended version of that found embedded in creatures, items and spells, and is a replacement for the version 1 embedded effects used in BG1. The engine appears to roll a probability for each valid target type, rather than one probability per attack.<br />
    </div>
    <br />
    
    <div class="fileHeader"><a name="effv2">EFF V2.0</a></div>
    <div class="indent1">
      Overall structure:<br />
      <div class="indent1">
        <li><a href="#effv2_Header">Header</a>
        <li><a href="#effv2_Body">Body</a></li>
      </div>
      <br />
    </div>
  
    {% assign offset_header_name = "effv2_Header" %}
    {% assign offset_header_display_name = "EFF V2.0 Header" %}
    {% assign offsets = site.data.file_formats.eff_v2.header %}
    {% include offset_table.html %}

    {% assign offset_header_name = "effv2_Body" %}
    {% assign offset_header_display_name = "EFF V2.0 Body" %}
    {% assign offsets = site.data.file_formats.eff_v2.body %}
    {% assign offset_header_desc = "When an effect is called via an eff, several of the fields (including duration and timing mode) are overriden by the calling SPL/ITM. Other fields are copied directly from the calling SPL/ITEM and overwrite the values defined in the EFF." %}
    {% assign offset_start = 8 %}
    {% include offset_table.html %}

  </div>
</div>
