---
title: "SPL file format"
---
    <div class="title_main">SPL file format</div>
    <br />
    <div class="fileHeader">Applies to:</div>
    <div class="indent1">BG1, BG1: TotS, BG2, BG2: ToB, PST, IWD, IWD:HoW, IWD:TotL, BGEE</div>
    <br />
    
    <div class="fileHeader">General Description</div>
    <div class="indent1">
      This file format describes a "spell". Spells include mage spells, priest spells, innate abilities, special abilities and effects used for game advancement (e.g. animation effects, custom spells). SPL files have a similar structure to <a href="itm_v1.htm">ITM </a>files.<br />
    </div>
    <br />
    
    <div class="center"><img border="0" src="../../images/spl.gif"></div>
    <table align="center">
      <tr>
        <td><img src="../../images/red.jpg" width="10" height="10"></td>
        <td><strong>Header:</strong>Size=114 Bytes</td>
        <td><img src="../../images/blue.jpg" width="10" height="10"></td>
        <td><strong>Ext. Header:</strong> Size= 40 Bytes</td>
        <td><img src="../../images/green.jpg" width="10" height="10"></td>
        <td><strong>Feature Block:</strong> Size=48 Bytes</td>
      </table>
    <br />
    
    <div class="fileHeader">Detailed Description</div>
    <div class="indent1">
      SPL files consist of a main header, zero or more extended headers (each containing zero or more feature blocks) and zero or more casting feature blocks. All the feature blocks are stored as a continuous data segment, with each extended header containing an offset into this data, and the main header containing an offset into this data for the casting feature blocks.<br />
      <br />
      Overall structure:<br />
      <div class="indent1">
        <li>
          <a href="#splv1_Header">Header</a>
        <li>
          <a href="#splv1_Extended_Header">Extended Headers</a>
        <li>
           <a href="#splv1_Feature_Block">Feature Blocks</a>
      </div>
      <br />
    </div>
    
    {% assign offset_header_name = "splv1_Header" %}
    {% assign offset_header_display_name = "Header" %}
    {% assign offsets = site.data.file_formats.spl_v1.header %}
    {% include offset_table.html %}

    {% assign offset_header_name = "splv1_Extended_Header" %}
    {% assign offset_header_display_name = "Extended Header" %}
    {% assign offset_header_desc = "Extended headers represent the effects of a spell on the target. Multiple extended headers can be set in a spell, to allow the spell to use effects based on the level of the caster. Extended headers should be in the file in order of increasing level" %}
    {% assign offsets = site.data.file_formats.spl_v1.extended_header %}
    {% include offset_table.html %}

    {% assign offset_header_name = "splv1_Feature_Block" %}
    {% assign offset_header_display_name = "Feature Block" %}
    {% assign offset_header_desc = "Any action carried out by a spell is done by feature blocks, each of which holds an effect number as well as targetting and timing information. The engine appears to roll a probability for each valid target type, rather than one probability per attack." %}
    {% assign offsets = site.data.file_formats.spl_v1.feature_block %}
    {% include offset_table.html %}

    <hr />
    <br />
    <a id="Header_Flags"><div class="actionheader"> Header Flags </a></div>
    <br />
    <div class="indent1">
    <table border="1" width="98%">
      <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col class="col4" width="20%">
        <col class="col4" width="20%">
      </colgroup>
      <thead>
        <tr>
          <th>Bit </th>
          <th>Byte 1</th>
          <th>Byte 2</th>
          <th>Byte 3</th>
          <th>Byte 4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> Not in combat </td>
          <td> Can target invisible (BGEE, TobEx) </td>
        </tr>
        <tr>
          <td>1</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> Breaks Sanctuary (BGEE) </td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> Castable when silenced (BGEE, TobEx)</td>
        </tr>
        <tr>
          <td>2</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> Hostile/Breaks Invisibility</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> <span class="unknown"> Unknown </span></td>
        </tr>
        <tr>
          <td>3</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> No LOS required</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> <span class="unknown"> Unknown </span></td>
        </tr>
        <tr>
          <td>4</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> <span class="unknown"> Allow spotting </span></td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> <span class="unknown"> Unknown </span></td>
        </tr>
        <tr>
          <td>5</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> Outdoors only</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> <span class="unknown"> Unknown </span></td>
        </tr>
        <tr>
          <td>6</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> Ignore dead-magic and wild surge effect</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> <span class="unknown"> Unknown </span></td>
        </tr>
        <tr>
          <td>7</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> Ignore wild surge effect (i.e. trigger/contingency)</td>
          <td> <span class="unknown"> Unknown </span></td>
          <td> <span class="unknown"> Unknown </span></td>
        </tr>
      </tbody>
    </table>
    </div>
    <br />
    <a id="Exclusion_Flags"><div class="actionheader"> Exclusion Flags</a></div>
    <br />
    <div class="indent1">
    bit 0: Exclude Chaotic priests. (BG2 & HoW)<br />
    bit 1: Exclude Evil priests. (BG2 & HoW)<br />
    bit 2: Exclude Good priests. (BG2 & HoW)<br />
    bit 3: Exclude GENeutral priests. (BG2 & HoW)<br />
    bit 4: Exclude Lawful priests. (BG2 & HoW)<br />
    bit 5: Exclude LCNeutral priests. (BG2 & HoW)<br />
    bit 6: Exclude Abjurers<br />
    bit 7: Exclude Conjurers<br />
    bit 8: Exclude Diviners<br />
    bit 9: Exclude Enchanters<br />
    bit 10: Exclude Illusionists<br />
    bit 11: Exclude Invokers<br />
    bit 12: Exclude Necromancers<br />
    bit 13: Exclude Transmuters<br />
    bit 14: Wild Magic (exclude Generalists) (BG2)<br />
    bit 15 - 29: Unused<br />
    bit 30: Exclude Cleric/Paladin<br />
    bit 31: Exclude Druid/Ranger<br />
    <br />
    NB.Alignment and School exclusion bits cannot be combined.<br />
    </div>
    <br />
    <a id="Header_Casting_Graphics"><div class="actionheader"> Casting Graphics</a></div>
    <br />
    <strong>BG1,BG2,IWD</strong><br />
    <div class="indent1">
    00<br />
    &nbsp;&nbsp;&nbsp;&nbsp;...No animation<br />
    08<br />
    09 Necromancy<br />
    10 Alteration<br />
    11 Enchantment<br />
    12 Abjuration<br />
    13 Illusion<br />
    14 Conjuration<br />
    15 Invocation<br />
    16 Divination<br />
    17 White sparks<br />
    18 Black sparks<br />
    19 White sparks<br />
    20 White sparks<br />
    21 White sparks<br />
    22 White -> red sparks<br />
    23 White -> purple/red sparks<br />
    24 White -> red sparks<br />
    26 White sparks<br />
    32 White sparks<br />
    34 White sparks<br />
    56461 No animation<br />
    65535 No animation<br />
    <br />
    NB. The 'spark' entries are related to sprklclr.2da (and probably opcode #41)<br />
    </div>
    <br />
    <strong>PST</strong><br />
    <div class="indent1">
    35: Abjuration<br />
    36: Alteration<br />
    37: Conjuration<br />
    38: Enchantment<br />
    39: Divination<br />
    40: Illusion<br />
    41: Invocation<br />
    42: Necromancy<br />
    44: Special (Innate) Skill<br />
    </div>
  </div>
</div>

