---
title: "STO file format"
regenerate: true
---

<div class="title_main">STO file format</div>
<br />
<div class="fileHeader">Applies to:</div>
<div class="indent1">BG1, BG1: TotS, BG2, BG2: ToB, IWD, BGEE</div>
<br />

<div class="fileHeader">General Description</div>
<div class="indent1">
  These files contain a description of the types of items and services available
  for sale in a given store, inn, tavern, or temple.<br />
</div>
<br />

<div class="fileHeader">Detailed Description</div>
<div class="indent1">
  Overall structure<br />
  <div class="indent1">
    <li><a href="#storv1_0_Header">Header</a></li>
    <li><a href="#storv1_0_Sale">Items for sale</a></li>
    <li><a href="#storv1_0_Drink">Drinks for sale</a></li>
    <li><a href="#storv1_0_Cure">Cures for sale</a></li>
    <li><a href="#storv1_0_Buy">Items purchased here</a></li>
  </div>
</div>
<br />

{% assign offset_header_name = "storv1_0_Header" %}
{% assign offset_header_display_name = "Header" %}
{% assign offsets = site.data.file_formats.sto_v1.header %}
{% include offset_table.html %}

{% assign offset_header_name = "storv1_0_Sale" %}
{% assign offset_header_display_name = "Items for sale" %}
{% assign offsets = site.data.file_formats.sto_v1.item %}
{% include offset_table.html %}

{% assign offset_header_name = "storv1_0_Drink" %}
{% assign offset_header_display_name = "Drinks" %}
{% assign offsets = site.data.file_formats.sto_v1.drink %}
{%include offset_table.html %}

{% assign offset_header_name = "storv1_0_Cure" %}
{% assign offset_header_display_name = "Cures" %}
{% assign offsets = site.data.file_formats.sto_v1.cure %}
{% include offset_table.html %}

<div class="fileHeader">
  <a name="storv1_0_Buy">STOR V1.0 Items Purchased Here</a>
</div>
<br />
<div class="indent1">
  This is an array of dwords. These dwords indicate categories of items from the
  Item Types table.
  <br />
</div>

{% include item_types.html %}
