a:link		{text-decoration: none; color: #0000FF;}
a:visited	{text-decoration: none; color: #C015CF;}
a:active	{text-decoration: none; color: #C00000;}
a:hover		{text-decoration: none; color: #C00000;}
a:hover.offsite	{text-decoration: none; color: #C00000; text-decoration: line-through;}

blockquote	{color: Silver;}
body 		{background: #F6F7EB; background-color: #F6F7EB; background-image: none; font-family: Arial; font-size:13px; margin-left: 45px;}
strong		{color: #000000;}
table		{font-family: Arial; font-size:13px;}
table		{table-border-color-light: rgb(128, 128, 192); table-border-color-dark: rgb(128, 128, 192);}
pre		{margin-top: 0px; margin-bottom: 0px;}

.title_main	{text-align: center; font-size:26px;}
.mono		{font-family: Monospace;}
.center		{text-align: center;}

.indent1	{margin-left: 20px;}
.indent2	{margin-left: 40px;}
.indent3	{margin-left: 60px;}

.code		{background:#eee; font-family: Monospace;}
.actionHeader	{font-size: 14px; font-weight: bold;}
.fileHeader	{font-size: 14px; font-weight: bold;}
.idsHeader	{font-size: 14px; font-weight: bold;}
.highlight	{color: #FF4040;}
.question	{font-weight: bold;}
.unknown	{color: #000099;}