vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Nov 2001 18:46:46 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|25 Nov 2001 18:46:46 -0000
vti_filesize:IR|357
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|filesformats/effformat.htm filesformats/gamformat.htm filesformats/tisformat.htm filesformats/tlkformat.htm filesformats/bmpformat.htm filesformats/idsformat.htm filesformats/savformat.htm filesformats/srcformat.htm filesformats/areformat.htm filesformats/musformat.htm filesformats/proformat.htm filesformats/stoformat.htm filesformats/varformat.htm filesformats/wfxformat.htm filesformats/wmapformat.htm filesformats/bifformat.htm filesformats/iniformat.htm filesformats/keyformat.htm filesformats/mveformat.htm filesformats/wavformat.htm filesformats/chuformat.htm filesformats/mosformat.htm filesformats/acmformat.htm filesformats/chrformat.htm filesformats/pltformat.htm filesformats/splformat.htm filesformats/wavcfileformat.htm filesformats/2daformat.htm filesformats/bamformat.htm filesformats/forcontents.htm filesformats/itmformat.htm filesformats/tohformat.htm filesformats/vvcformat.htm filesformats/forindex.html filesformats/introdesc.htm filesformats/creformat.htm filesformats/wedformat.htm filesformats/bcsformat.htm filesformats/dlgformat.htm filesformats/totformat.htm
