vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Nov 2001 18:36:34 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|25 Nov 2001 18:36:34 -0000
vti_filesize:IR|357
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|ietoolsformats/ietfcontents.htm
