vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Nov 2001 18:33:00 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|25 Nov 2001 18:33:00 -0000
vti_filesize:IR|357
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|effects/bg2ec0h.htm effects/effcontents.htm effects/bg1e60h.htm effects/bg1ec0h.htm effects/bg2e20h.htm effects/effindex.htm effects/bg1ea0h.htm effects/bg2e140h.htm effects/iwde40h.htm effects/iwde60h.htm effects/iwdea0h.htm effects/iwdec0h.htm effects/pste60h.htm effects/pstea0h.htm effects/bg2e100h.htm effects/iwde104h.htm effects/saiscript.htm effects/effects.htm effects/effmain.htm effects/bg2e40h.htm effects/bg2e60h.htm effects/bg2ea0h.htm effects/iwdtotle123h.htm effects/bg1e40h.htm effects/bg1e80h.htm effects/iwde80h.htm effects/pste80h.htm effects/psted4h.htm effects/bg1e20h.htm effects/bg2e120h.htm effects/pste40h.htm effects/bg2e80h.htm effects/iwde20h.htm effects/pste20h.htm
