---
title: "PSTEE Identifiers : projectl.ids"
---
    <div class="title_main"> PSTEE Identifiers </div>
<br />
Relates to offset <code>0x0026</code> in the <a href="../../../file_formats/ie_formats/spl_v1.htm#splv1_Extended_Header_0x26">SPL</a> file format, offset <code>0x002A</code> in the <a href="../../../file_formats/ie_formats/itm_v1.htm#itmv1_Extended_Header_0x2A">ITM</a> file format, and offset <code>0x00A0</code> in the <a href="../../../file_formats/ie_formats/eff_v2.htm#effv2_Body_0xA0">V2 EFF</a> file format.<br />
<br />
<pre>
IDS V1.0
23  spwi101  // chromatic orb - used by spwi101.spl
60  ghost    // howl of pandemonium ghost - used by spwi603.spl
61  stormbld // blade storm blade - used by spwi702.spl
189 ntoken   // hold person - used by ntoken.itm
205 magicmis // magic missiles 1 - used by spwi107.spl
206 spwi107  // magic missiles 2 - used by spwi107.spl
207 spwi107  // magic missiles 3 - used by spwi107.spl
208 spwi107  // magic missiles 4 - used by spwi107.spl
209 spwi107  // magic missiles 5 - used by spwi107.spl
210 spwi107
211 spwi107
212 spwi107
213 spwi107
214 spwi107
217 spwi212  // swarm curse (spwi212), 9' radius (rest of series starts at 290)
218 swarm    // swarm curse arrow - used by swarm curse
219 --       // originally adder's kiss, unused
220 spwi207  // ice knife - used by spwi207.spl
221 spwi108  // pacify - used by spwi108.spl
222 spwi211  // strength - used by spwi211.spl
223 spwi301  // ball of lightning - used by spwi301
224 lgtball  // ball of lightning sphere - used by spwi301
226 spwi405  // force missiles - used by spwi405.spl
227 spwi406  // improved strength - used by spwi406.spl
230 spwi603  // howl of pandemonium - used by spwi603.spl
232 spwi905  // elysium's fires - used by spwi905.spl
233 spwi912  // abyssal fury - used by spwi912.spl
234 spwi213  // horror - used by spwi213.spl
236 spwi307  // hold undead - used by spwi307.spl
237 spwi113  // missile of patience - used by spwi113.spl
238 spwi305  // elysium's tears - used by spwi305.spl
239 spwi308  // tasha's unbearable derisive laughter - used by spwi308.spl
240 spwi310  // axe of torment - used by spwi310.spl
241 spwi401  // blacksphere - used by spwi401.spl
244 spwi506  // fire and ice - used by spwi506.spl
245 spwi604  // chain lightning storm - used by spwi604.spl
248 spwi802  // meteor storm bombardment - used by spwi802.spl
249 spwi803  // deathbolt - used by spwi803.spl
250 spwi804  // ignus' fury - used by spwi804.spl
251 spwi805  // pw blind - used by spwi805.spl
252 spwi807  // mechanus' cannon - used by spwi807.spl
253 spwi901  // celestial host - used by spwi901.spl
254 spwi914  // rune of torment - used by spwi914.spl
255 sppr101  // blessing - used by sppr101.spl, spwi118.spl
256 sppr103  // curse - used by sppr103.spl, spwi117.spl
257 --       // originally detect evil, unused
259 sppr204  // spritual hammer - used by sppr204.spl
260 sppr301  // call lightning - used by sppr301.spl
261 --       // originally soul exodus, unused
264 spwi909  // pw kill - used by spwi909.spl
266 bolt01   // nordom's crossbow bolts - used by bolt01.itm through bolt09.itm, nordbolt.itm
268 spin106  // aura of fear - used by spin106.spl
269 spwi902  // conflagration - used by spwi902.spl
270 spwi001  // special trap - used by spwi001.spl 
271 ignusfi  // ignus' fireball - used by ignusfi.itm
272 imiss    // tongues of flame 1 - used by spwi116.spl
273 spwi116  // tongues of flame 2 - used by spwi116.spl
274 spwi116  // tongues of flame 3 - used by spwi116.spl
275 spwi116  // tongues of flame 4 - used by spwi116.spl
276 spwi116  // tongues of flame 5 - used by spwi116.spl
277 spwi217  // ignus' terror - used by spwi217.spl
278 spwi218  // infernal orb - used by spwi218.spl
279 spwi313  // fiery rain - used by spwi313.spl
280 spwi410  // elemental strike - used by spwi410.spl
281 amiss    // reign of anger 1 - used by spwi121.spl
282 spwi121  // reign of anger 2 - used by spwi121.spl
283 spwi121  // reign of anger 3 - used by spwi121.spl
284 spwi121  // reign of anger 4 - used by spwi121.spl
285 spwi121  // reign of anger 5 - used by spwi121.spl
286 spwi219  // power of one - used by spwi219.spl
288 spwi103  // embalming - used by spwi103.spl, spwi205.spl
289 spwi305b // elysium tears meteor - used by spwi305
290 spwi002  // special trap - used by spwi002.spl
291 spwi003  // special trap - used by spwi003.spl
292 spwi004  // special trap - used by spwi004.spl
293 spwi005  // special trap - used by spwi005.spl
294 spwi006  // special trap - used by spwi006.spl
295 spwi007  // special trap - used by spwi007.spl
296 spwi008  // special trap - used by spwi008.spl
297 spwi009  // special trap - used by spwi009.spl
298 spwi010  // special trap - used by spwi010.spl
</pre>

<br /><br />

{% capture note %}
Many of the more elaborate projectiles are hardcoded. They have a PROJECTL.IDS entry, but no associated .pro resource.
{% endcapture %}

{% include info.html %}

{% capture note %}
A special note about what Near Infinity labels as Projectile <code>#0|Default</code>.
<ul>
    <li>Normally, the index for that Projectile, in <a href="../pstee/projectl.htm">PROJECTL.IDS</a> is <code>-1 // 0xffffffff</code>. It is simply an unlisted entry, no different from using projectile <code>#357343</code> (some random unlisted value).</li>
    <li>
        Adding an entry for it will cause the game to use that entry like any other projectile, except when it's in the subspell cast by one of these opcodes (<a href="../../../opcodes/pstee.htm#op326">326</a>/<a href="../../../opcodes/pstee.htm#op333">333</a>/<a href="../../../opcodes/pstee.htm#op146">146</a><code><sup><small>*</small></sup>p2=2</code>), where it does the following:
        <ul>
            <li>The impact projectile is replaced with projectile <code>#1|None</code>.</li>
            <li>The target of the opcode (<a href="../../../opcodes/pstee.htm#op326">326</a>/<a href="../../../opcodes/pstee.htm#op333">333</a>/<a href="../../../opcodes/pstee.htm#op146">146</a><code><sup><small>*</small></sup>p2=2</code>) that cast the subspell becomes the target of any <code>Original Caster</code> effects in the subspell.</li>
        </ul>
    </li>
</ul>
In short – don't use projectile <code>#0|Default</code> in subspells, use projectile <code>#1|None</code>.
{% endcapture %}

{% include note.html %}
