---
layout: default
---

{% include relurl.html %}
<div class="title_main actions_title"> {{ page.title }} </div>

{% assign game = page.game %}
{% comment %} url bases for use in descriptions {% endcomment %}
{% assign ids = site.data.games | where: 'name', game | map: 'ids' | first %}
{% assign 2da = site.data.games | where: 'name', game | map: '2da' | first %}
{% assign actions_page = site.data.games | where: 'name', game | map: 'actions' | first %}

{% assign anchors = page.anchors %}
{% include actions_anchors.html %}

{% assign actions = "" | split: "" %}
{% for action_hash in site.data.actions %}
  {% assign action = action_hash[1] | addProp: "base_name", action_hash[0] %}
  {% assign actions = actions | push: action %}
{% endfor %}
{% assign actions = actions | sort: 'name' | sort: 'n' %}


{% assign seenAnchors = "" | split: "" %}
{% for action in actions %}

  {%- comment -%} it can happen, that a game has only suffixed versions of an action, so we need to add a dummy element to ensure also a bare anchor works. An example would be action 7 in the bgee listing {%- endcomment -%}
  {% assign baseNameRoot = action.base_name | split: "-" | first %}
  {% assign baseNameRootCount = actions | where: "base_name", baseNameRoot | where: game, 1 | size %}
  {% if baseNameRootCount > 0 %}
    {%- comment -%} nothing to do, a real element will be present {%- endcomment -%}
  {% else %}
    {% unless seenAnchors contains baseNameRoot %}
      <span id="{{ baseNameRoot }}"></span>
      {% assign seenAnchors = seenAnchors | push: baseNameRoot %}
    {% endunless %}
  {% endif %}

  {% if action[game] == 1 %}
    <div class="actionHeader">
      <a id="{{ action.base_name }}" class="action_name">
        {{ action.n }} {{ action.name }}({%- assign a = action -%}{%- include action_params.html -%})
      </a>
      {%- include action_labels.html -%}
      {%- include action_sisters.html -%}
    </div>
    <div class="indent1 action_body">
        {%- include action_alias.html -%}
        <p></p>{%- comment -%} if desc has only code, it gets too close to the name {%- endcomment -%}
        {{ action.desc | liquify | markdownify }}
    </div>
  {% endif %}

{% endfor %}
