---
layout: default
---

<div class="title_main actions_title"> {{ page.title }} </div>

{% assign anchors = page.anchors %}
{% include actions_anchors.html %}

{% assign game = page.game %}

{% assign actions = "" | split: "" %}
{% for action_hash in site.data.actions %}
  {% assign actions = actions | push: action_hash[1] %}
{% endfor %}
{% assign actions = actions | sort: 'name' | sort: 'n' %}

{% for action in actions %}

  {% if action[game] == 1 %}
    <div class="actionHeader">
      <a name="{{ action.n }}" class="action_name">
        {{ action.n }} {{ action.name }}({%- assign a = action -%}{%- include action_params.html -%})
      </a>
      {%- include action_labels.html -%}
      {%- include action_sisters.html -%}
    </div>
    {%- include action_aliases.html -%}
    <div class="indent1 action_body {{ action_unknown }}">
      {%- if action.desc -%}{{ action.desc | markdownify }}{% endif %}
    </div>
  {% endif %}

{% endfor %}
